---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Access Denied'>
    <div class='bc'>
        <h1 class='title'>Access denied</h1>
        <p>You do not have permission to view this page.</p>
    </div>
</BaseLayout>
