---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Access Denied'>
    <div class='bc'>
        <h1 class='title'>Access restricted</h1>
        <p>We're sorry, but you don't currently have access to view this page. This may be because you need to be a member of a specific group to access this content.</p>
    </div>
</BaseLayout>
