---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Not Found'>
    <div class='bc'>
        <h1 class='title'>Page not found</h1>
        <p>
            The page you are looking for does not exist.
            <a href='/'>Go to start page.</a>
        </p>
    </div>
</BaseLayout>
