---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='404 - Not Found'>
    <div class='bc'>
        <p>
            <span class='statusCode'>404</span> - Page not found
        </p>
        <p>
            <a href='/'>Go back home</a>
        </p>
    </div>
</BaseLayout>
