---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Internal Server Error'>
    <div class='bc'>
        <h1 class='title'>An error occurred</h1>
    </div>

</BaseLayout>
