---
import { PipelineStatsTable } from '../components/DevDashboard/PipelineStatsTable';
import BaseLayout from '../layouts/BaseLayout.astro';
import { createBackendClient } from '../services/backendClientFactory';
import { getAccessToken } from '../utils/getAccessToken';

const accessToken = getAccessToken(Astro.locals.session);
let statsResult;
if (accessToken !== undefined) {
    statsResult = await createBackendClient().getPipelineStats(accessToken);
}
---

<BaseLayout title='Dev Dashboard'>
    <h1 class='title mb-4'>Dev Dashboard</h1>
    {
        accessToken === undefined ? (
            <p>You must be logged in.</p>
        ) : (
            statsResult?.match(
                (stats) => (
                    <>
                        <p class='mb-4'>Processed sequence entries per pipeline version.</p>
                        <div class='overflow-x-auto'>
                            <PipelineStatsTable stats={stats} />
                        </div>
                    </>
                ),
                (error) => <pre>Error: this may mean you are not a superuser. {error}</pre>,
            )
        )
    }
</BaseLayout>
