---
export const prerender = true;
import BaseLayout from '../layouts/BaseLayout.astro';
---

<!-- This is entirely static and shall be rendered at build time -->
<BaseLayout title='Home'>
  <h1 class='text-sky-500 font-bold text-xl'>My first Astro application</h1>
  <a href='sequences'>Sequences</a>
</BaseLayout>
