---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Home'>
    <h1 class='text-sky-500 font-bold text-xl'>Pathoplexus</h1>
    <a href='search'>Search</a>
    <a href='sequences'>Sequences</a>
</BaseLayout>
