---
import { getConfiguredOrganisms } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';
import { routes } from '../routes';
---

<BaseLayout title='Home'>
    <h1 class='title'>Loculus</h1>
    <h2 class='font-bold'>Explore the data</h2>
    {
        getConfiguredOrganisms().map(({ key, displayName }) => (
            <p>
                <a href={routes.organismStartPage(key)}>{displayName}</a>
            </p>
        ))
    }
</BaseLayout>
