---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getInstanceLogger } from '../logger';
import { ACCESS_TOKEN_COOKIE, getKeycloakClient, REFRESH_TOKEN_COOKIE } from '../middleware/authMiddleware';

async function logout() {
    const token = Astro.locals.session.token;

    if (token === undefined) {
        return;
    }

    await (await getKeycloakClient()).revoke(token.refreshToken).catch(async (err) => {
        getInstanceLogger('logout page').error(`Failed to revoke token. Error ${err}`);
    });

    Astro.cookies.delete(ACCESS_TOKEN_COOKIE);
    Astro.cookies.delete(REFRESH_TOKEN_COOKIE);
}

await logout();
---

<BaseLayout title='Logout'>
    <div>You have been logged out</div>
</BaseLayout>
