@tailwind base;
@tailwind components;
@tailwind utilities;

.kcLoginClass,
.kcHtmlClass {
    @apply bg-gray-200;
}

.login-pf body {
    background: none;
}

.card-pf {
    border-top: none;
}

.kcLoginClass {
    @apply mt-10 h-auto;
}

:root {
    --pf-global--primary-color--100: theme("colors.primary.600");
    --pf-global--primary-color--200: theme("colors.primary.800");
}
