---
import '../styles/base.scss';
import { Navigation } from '../components/Navigation/Navigation';
import { SecondaryNavigation } from '../components/Navigation/SecondaryNavigation';

const { title } = Astro.props;
const { url } = Astro.request;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class='w-11/12 mx-auto'>
            <header class='sticky z-30 top-0 bg-white h-20'>
                <nav class='flex justify-between items-center p-4'>
                    <div class='flex justify-start'>
                        <a href='/'><img class='h-8 mr-4' src='/favicon.svg' /></a>
                        <a href='/' class='title'>Pathoplexus</a>
                    </div>
                    <Navigation url={url} client:load />
                </nav>
                <hr class='border-t border-gray-1000' />
                <SecondaryNavigation url={url} client:load />
            </header>

            <div class='mt-3 mb-5'>
                <slot />
            </div>

            <hr class='border-t border-gray-1000' />
            <footer class='hidden sm:flex sm:z-6 sm:z-6 flex justify-between items-center h-20'>
                <div class='flex gap-5'>
                    <a href='/about' class='text-gray-600'>About</a>
                    <a href='/governance' class='text-gray-600'>Governance</a>
                    <a href='/status' class='text-gray-600'>Status</a>
                    <a href='/api_documentation' class='text-gray-600'>Api documentation</a>
                </div>

                <a href='https://github.com/pathoplexus' class='h-full py-6'>
                    <img src='/github-mark.svg' class='h-full object-scale-down' />
                </a>
            </footer>
        </div>
    </body>
</html>
