---
import '../styles/base.scss';
import Navigation from '../components/Navigation/Navigation.astro';
import OrganismSelector from '../components/Navigation/OrganismSelector.astro';
import { navigationItems } from '../routes';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class='w-11/12 mx-auto'>
            <header class='z-30 top-0 bg-white h-fit'>
                <nav class='flex justify-between items-center p-4'>
                    <div class='flex justify-start'>
                        <div class='flex flex-col'>
                            <div class='flex flex-row pb-3'>
                                <a href='/'><img class='h-8 mr-4' src='/favicon.svg' alt='icon' /></a>
                                <a href='/' class='fancytitle mr-4'>Loculus</a>
                            </div>
                            <OrganismSelector />
                        </div>
                    </div>
                    <Navigation />
                </nav>
                <hr class='border-t border-gray-1000' />

                <slot name='banner' />
            </header>

            <div class='mt-3 mb-5'>
                <slot />
            </div>

            <hr class='border-t border-gray-1000' />
            <footer class='hidden sm:flex sm:z-6 sm:z-6 flex justify-between items-center h-20'>
                <div class='flex gap-5'>
                    {
                        navigationItems.bottom.map(({ text, path }) => (
                            <a href={path} class='text-gray-600'>
                                {text}
                            </a>
                        ))
                    }
                </div>

                <a href='https://github.com/loculus-project' class='h-full py-6'>
                    <img src='/github-mark.svg' class='h-full object-scale-down' alt='github-icon' />
                </a>
            </footer>
        </div>
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    </body>
</html>
