---
import '../styles/mdcontainer.scss';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <div class='mdContainer mdContainerItself'>
        <slot />
    </div>
</BaseLayout>
