{{- if ne .Values.mode "e2e" }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  creationTimestamp: '2023-10-24T13:00:51Z'
  name: pathoplexus-website-ingressroute
  namespace: {{ .Values.namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`{{ .Values.host }}`)
      priority: 10
      services:
        - name: pathoplexus-website-service
          port: 3000
  tls:
    certResolver: myresolver

  {{- end}}
