{{- $configFile := .Files.Get "config.yml" | fromYaml }}
{{ $namespace := .Values.namespace }}

{{- range $key, $_ := $configFile.instances }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lapis-ingress-{{ $key }}
  namespace: {{ $namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/configuration-snippet: proxy_set_header X-Forwarded-Prefix "/{{ $key }}";
spec:
  ingressClassName: lapis-ingress-class
  rules:
    - http:
        paths:
          - path: /{{ $key }}(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: pathoplexus-lapis-service-{{ $key }}
                port:
                  number: 8080
{{- end }}

---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: lapis-ingress-class
spec:
  controller: k8s.io/ingress-nginx
