{{- $dockerTag := include "pathoplexus.dockerTag" .Values }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pathoplexus
  namespace: {{ .Values.namespace }}
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pathoplexus
      component: website-and-backend
  template:
    metadata:
      labels:
        app: pathoplexus
        component: website-and-backend
    spec:
      containers:
        {{- if not .Values.disableWebsite }}
        - name: website
          image: "ghcr.io/pathoplexus/website:{{ $dockerTag }}"
          imagePullPolicy: Always
          resources:
            requests:
              memory: "1300Mi"
              cpu: "100m"
            limits:
              memory: "2000Mi"
              cpu: "1000m"
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: pathoplexus-website-config
              mountPath: /config
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
        {{- end }}
        {{- if not .Values.disableBackend }}
        - name: backend
          image: "ghcr.io/pathoplexus/backend:{{ $dockerTag }}"
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: "/actuator/health/liveness"
              port: 8079
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: "/actuator/health/readiness"
              port: 8079
          ports:
            - containerPort: 8079
          args:
            - "--spring.datasource.url=jdbc:postgresql://localhost:5432/pathoplexus"
            - "--spring.datasource.username=postgres"
            - "--spring.datasource.password=unsecure"
            - "--spring.security.oauth2.resourceserver.jwt.jwk-set-uri=http://pathoplexus-keycloak-service:8083/realms/pathoplexusRealm/protocol/openid-connect/certs"
          volumeMounts:
            - name: pathoplexus-backend-config
              mountPath: /config
        {{- end }}
        - name: database
          image: postgres:latest
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "unsecure"
            - name: POSTGRES_DB
              value: "pathoplexus"

      imagePullSecrets:
        - name: ghcr-secret
      volumes:
        - name: pathoplexus-website-config
          configMap:
            name: pathoplexus-website-config
        - name: pathoplexus-backend-config
          configMap:
            name: pathoplexus-backend-config
