{{- $configFile := .Files.Get "config.yml" | fromYaml }}
{{- $commonMetadata := (include "pathoplexus.commonMetadata" . | fromYaml).fields }}
{{- $metadata := (concat $commonMetadata $configFile.schema.metadata | include "pathoplexus.generateWebsiteMetadata" | fromYaml).fields }}
{{- $schema := (dict
  "schema" (merge (dict
    "instanceName" $configFile.schema.instanceName
    "primaryKey" "sequenceVersion"
    "metadata" $metadata
  ) $configFile.schema.website)
)}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pathoplexus-website-config
  namespace: {{ .Values.namespace }}
data:
  website_config.json: |
    {{ toJson $schema }}

  runtime_config.json: |
    {
      "backendUrl": "http://localhost:8079",
      "lapisUrl": "http://localhost:8080"
    }

  reference_genomes.json: |-
    {{ .Files.Get "reference_genomes.json" | fromJson | toJson }}
