{{- $keycloakHost := printf "keycloak.%s" .Values.host }}
{{- $config := .Files.Get "config.yaml" | fromYaml }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pathoplexus-website-config
  namespace: {{ .Values.namespace }}
data:

  runtime_config.json: |
    {
      {{- if .Values.disableBackend }}
      "backendUrl": "http://host.k3d.internal:8079",
      {{- else }}
      "backendUrl": "http://localhost:8079",
      {{- end }}
      "lapisUrls": {{- include "pathoplexus.generateLapisUrls" $config | fromYaml | toJson }},
      "keycloakUrl": "http://pathoplexus-keycloak-service:8083"
    }
