---
import { ErrorFeedback } from '../../../components/ErrorFeedback';
import { BackButton } from '../../../components/Navigation/BackButton';
import UserSequences from '../../../components/UserSequenceList/UserSequences.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { BackendClient } from '../../../services/backendClient';
import { getAccessToken } from '../../../utils/getAccessToken';

const organism = Astro.params.organism!;
const accessToken = getAccessToken(Astro.locals.session)!;
const username = Astro.locals.session.user!.name;

const userSequenceEntriesResponse = await BackendClient.create().astroFileTypeHelpers.getSequenceEntriesOfUser(
    organism,
    accessToken,
);
---

<BaseLayout title='Sequences'>
    <>
        <div class='flex items-center'>
            <BackButton marginRight={2} client:load />
            <h1 class='subtitle'>{`Submitted sequence entries of user ${username}`}</h1>
        </div>
        {
            userSequenceEntriesResponse.match(
                (sequenceEntries) => <UserSequences sequenceEntries={sequenceEntries} />,
                (error) => (
                    <ErrorFeedback
                        message={'Error while fetching user sequences: ' + JSON.stringify(error)}
                        client:only='react'
                    />
                ),
            )
        }
    </>
</BaseLayout>
