---
import { SearchFullUI } from '../../../components/SearchPage/SearchFullUI';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { cleanOrganism } from '../../../components/Navigation/cleanOrganism';
import { getRuntimeConfig } from '../../../config';
import { getSchema } from '../../../config';

const { organism: cleanedOrganism } = cleanOrganism(Astro.params.organism);

const clientConfig = getRuntimeConfig().public
const schema = getSchema(cleanedOrganism.key);
const metadataSchema = schema.metadata



---

<BaseLayout title={`${cleanedOrganism.displayName} - Browse`}>
    <h1 class='title'>Search</h1>
    <SearchFullUI
        client:load
        clientConfig={clientConfig}
        organism={cleanedOrganism.key}
        schema={schema}
   
    />
</BaseLayout>
