version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: npm
    directory: website/
    schedule:
      interval: weekly
    ignore:
    - dependency-name: "@tanstack/react-query"
      # see https://github.com/loculus-project/loculus/issues/3305
      # see https://github.com/loculus-project/loculus/issues/3295
      versions: [ ">=5.0.0" ]
    - dependency-name: "@mui/material"
    - dependency-name: "change-case"
    # see https://github.com/loculus-project/loculus/issues/4020
    - dependency-name: "flowbite-react"
    - dependency-name: "@types/node"
      versions: [">=23"] # Increase when we update node version in .nvmrc
    groups:
      minor:
        update-types:
          - "minor"
      patch:
        update-types:
          - "patch"
  - package-ecosystem: npm
    directory: docs/
    schedule:
      interval: weekly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: gradle
    directory: backend/
    schedule:
      interval: weekly
    groups:
      minor:
        update-types:
          - "minor"
      patch:
        update-types:
          - "patch"
  - package-ecosystem: npm
    directory: keycloak/keycloakify
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: docker
    directories:
      - website
      - backend
      - keycloak/keycloakify
      - preprocessing/nextclade
      - preprocessing/dummy
      - ingest
      - kubernetes/config-processor
      - kubernetes/loculus
      - kubernetes/loculus/templates
    schedule:
      interval: weekly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: npm
    directory: integration-tests/
    schedule:
      interval: weekly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: conda
    directory: preprocessing/nextclade
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: pip
    directory: preprocessing/nextclade
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: conda
    directory: ingest
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: pip
    directory: cli
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: pip
    directory: ena-submission
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: conda
    directory: ena-submission
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: pip
    directory: loculus-silo
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
