version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: npm
    directory: website/
    schedule:
      interval: weekly
    groups:
      minor:
        update-types:
          - "minor"
        exclude-patterns:
          - "@mui/material"
          - change-case
          - flowbite-react
      patch:
        update-types:
          - "patch"
        exclude-patterns:
          - "@mui/material"
          - change-case
          - flowbite-react
  - package-ecosystem: npm
    directory: docs/
    schedule:
      interval: weekly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: gradle
    directory: backend/
    schedule:
      interval: weekly
    groups:
      minor:
        update-types:
          - "minor"
      patch:
        update-types:
          - "patch"      
  - package-ecosystem: npm
    directory: keycloak/keycloakify
    schedule:
      interval: monthly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: docker
    directories:
      - website
      - backend
      - keycloak/keycloakify
      - preprocessing/nextclade
      - preprocessing/dummy
      - ingest
      - kubernetes/config-processor
      - kubernetes/loculus
      - kubernetes/loculus/templates
    schedule:
      interval: weekly
    groups:
      minorAndPatch:
        update-types:
          - "minor"
          - "patch"
