---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title='Governance'>
    <h1 class='text-sky-500 font-bold text-xl'>Governance</h1>
    <p class='text-gray-500'>
        This is the governance page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
        id est laborum.</p>

        <p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo 
        pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris 
        eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. 
        Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien 
        risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. 
        Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum 
        aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque 
        nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, 
        nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.
    </p><p>

</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit bibendum libero nec accumsan. Integer malesuada nisi ac sapien sodales commodo. In vel elit elit. Phasellus augue erat, interdum ac orci eu, ultricies tristique ex. Nulla tempor arcu id tortor faucibus dignissim. Nunc ullamcorper pellentesque augue, quis bibendum libero lobortis id. Nulla sapien ante, feugiat vitae nibh quis, interdum dapibus turpis. Sed volutpat, turpis sit amet pretium bibendum, ante nibh aliquet lorem, a luctus sapien tortor ut sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam lorem ligula, malesuada tempor magna non, tempor sagittis elit. Nullam eleifend, nunc ac lacinia ullamcorper, tortor ligula accumsan erat, nec imperdiet neque neque sed felis. Suspendisse sollicitudin rhoncus laoreet. Quisque magna sapien, ultrices eget leo at, ornare vestibulum orci. Nulla ullamcorper enim eget nisi porttitor vehicula vel rutrum sapien.

</p><p>Aenean posuere imperdiet metus, consequat congue justo pulvinar in. Quisque consectetur vehicula auctor. Pellentesque hendrerit, mi suscipit ornare viverra, nunc lorem bibendum orci, a congue dui nisl non justo. In vehicula, lorem ut iaculis dictum, arcu sapien lobortis nibh, vel blandit velit leo et massa. Praesent lacinia purus quis ornare bibendum. Nullam ultricies euismod felis, et luctus turpis vulputate nec. Cras blandit quam vitae dignissim fringilla. Mauris vehicula massa ut mi sodales, sed posuere nunc venenatis. Sed feugiat lectus quis tempor tincidunt. Pellentesque erat arcu, auctor sed vestibulum semper, vestibulum ut nulla. Suspendisse eget venenatis nisl, quis euismod tellus. Donec malesuada congue molestie. Suspendisse placerat libero vitae sapien viverra lacinia.

</p><p>Nunc luctus felis ex, eget elementum massa eleifend vel. Etiam dui nunc, accumsan eu lorem et, euismod molestie nisi. Nunc velit justo, blandit sit amet leo vitae, consectetur mollis mauris. Ut sollicitudin est eu aliquet tristique. Integer sagittis sapien sed orci maximus dapibus. Nullam vitae magna quis augue venenatis placerat. Fusce molestie non urna eu dictum. Cras nulla velit, efficitur non metus sit amet, consectetur ultrices lorem. Integer blandit tortor dolor, vitae aliquet tellus aliquam in. Sed tincidunt, magna vitae luctus laoreet, sapien nisi efficitur lorem, eget tempor magna neque sed ex. Proin eu efficitur mauris. Morbi ut ante vitae diam tristique suscipit.

</p><p>Vestibulum non sapien nec libero ornare tincidunt non id purus. Morbi mauris diam, pharetra id ligula id, viverra pretium tellus. Donec nec lorem rutrum, condimentum est eget, malesuada magna. Mauris rutrum diam at est accumsan, in viverra arcu vestibulum. Nullam sed ligula tincidunt nisl pharetra molestie at ut nibh. Pellentesque imperdiet tristique ligula sit amet rutrum. Maecenas commodo fermentum commodo. Sed at laoreet orci. Cras odio est, sagittis nec dictum eget, commodo ut felis. Mauris ac ante eget neque cursus porta. Nullam eget tortor purus.

</p><p>Nunc ipsum eros, ultricies at facilisis ac, rutrum at leo. In ultricies leo in mauris molestie, vel scelerisque sapien vulputate. Donec dapibus ex eget diam faucibus tincidunt. Mauris consequat felis sapien, et luctus nulla ornare sit amet. Sed fringilla ultricies nisi et condimentum. Pellentesque rutrum arcu nec ex congue posuere vitae quis urna. Sed pharetra consectetur augue vel sagittis.

</p><p>Nulla rhoncus maximus mauris, sed lacinia arcu. Nullam porttitor rutrum felis, id tempus justo egestas at. Fusce ut massa et enim vestibulum auctor. Nam ac pretium neque, et pharetra massa. Cras vel nisi suscipit, iaculis erat vel, vulputate urna. Nulla condimentum dolor ut purus convallis laoreet. Praesent vel diam nec justo pulvinar lobortis ac suscipit libero. Vivamus id lectus dui. Nam sed imperdiet ante, id tincidunt eros. Aenean ac urna ex. Nam ac vulputate felis. Curabitur faucibus bibendum elit, sit amet vehicula purus convallis vel.

</p><p>Nunc sapien diam, sollicitudin quis bibendum vitae, placerat vel libero. Vivamus a tincidunt nisl. Donec eget eros tincidunt, gravida enim in, posuere urna. Proin id ultrices erat. Mauris tortor nunc, ultricies non ligula eget, ullamcorper gravida mi. Pellentesque nec nisi arcu. Fusce laoreet velit elit, ac blandit nibh pellentesque eu.

</p><p>Integer in nibh orci. Nulla eu varius dolor. Vivamus tempor, massa blandit blandit tempor, neque elit mattis ante, ut blandit odio eros quis leo. Pellentesque laoreet ante at lacus imperdiet, elementum rhoncus justo gravida. Aliquam et ipsum magna. Curabitur fermentum eros a bibendum varius. Suspendisse malesuada dolor ac ornare blandit. Vivamus bibendum purus sed dui condimentum consectetur. Phasellus odio turpis, eleifend sed pharetra vitae, dapibus ut libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi pharetra laoreet lorem a ullamcorper. Pellentesque in lacus vel mauris fermentum dapibus.

</p><p>Cras quis lacus quis lorem feugiat egestas. Nullam fringilla erat vestibulum porta congue. Donec libero turpis, viverra suscipit laoreet et, imperdiet ut dolor. Duis a aliquet magna. Donec consectetur maximus enim, non aliquam odio porttitor ut. Suspendisse semper neque a dui semper pulvinar. Mauris blandit pulvinar metus, sit amet placerat orci hendrerit ut. Maecenas viverra fringilla justo ac pretium. Curabitur bibendum eget ante et mollis. Nam elit enim, laoreet in viverra id, aliquam et urna. Maecenas vitae arcu metus. Nam est massa, facilisis ut ultrices nec, aliquam at lorem. Aliquam id justo neque. Pellentesque cursus lectus id congue consectetur.

</p><p>Praesent sodales ac diam id congue. Sed ac lacus eget neque auctor interdum. Suspendisse ac dui in augue tristique varius at id velit. Duis diam orci, faucibus et maximus in, maximus blandit odio. Pellentesque velit neque, ullamcorper ut egestas eget, molestie nec enim. Proin dolor turpis, maximus porttitor facilisis vitae, lobortis sed orci. Praesent vel nibh efficitur, commodo elit non, aliquet leo. Integer eget enim lacus. Proin non tortor pulvinar, faucibus tellus quis, dictum erat. Curabitur eget sem leo. Praesent sollicitudin ex at mauris pulvinar, sit amet vulputate ex condimentum. In vestibulum, augue porttitor cursus tincidunt, nulla nisl iaculis nisl, quis maximus sapien nisl in massa. Donec ut tincidunt nibh.
</p></BaseLayout>
