---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title='Governance'>
    <h1 class='text-sky-500 font-bold text-xl'>Governance</h1>
    <p class='text-gray-500'>Text about governance goes here</p>
</BaseLayout>
