approved_list_url: will-be-overwritten
ena_reports_service_url: will-be-overwritten
ena_submission_url: will-be-overwritten
suppressed_list_url: will-be-overwritten
test: true
username: external_metadata_updater
password: external_metadata_updater
keycloak_client_id: backend-client
ingest_pipeline_submission_group: 1
db_name: Loculus
unique_project_suffix: Loculus
ena_submission_username: fake-user
ena_submission_password: fake-password
submit_to_ena_prod: False
allowed_submission_hosts:
  - https://backend.pathoplexus.org
time_between_iterations: 10
min_between_github_requests: 2
min_between_ena_checks: 5
ena_http_timeout_seconds: 60
backend_http_timeout_seconds: 3600
ena_public_search_timeout_seconds: 120
ncbi_public_search_timeout_seconds: 120
ena_http_get_retry_attempts: 3
# Don't retry posts by default as they might not be idempotent
ena_http_post_retry_attempts: 1
# 12 hours in minutes
min_between_publicness_checks: 720
log_level: DEBUG
#ena_checklist: ERC000033 - do not use until all fields are mapped to ENA accepted options
manifest_fields_mapping:
  authors:
    loculus_fields: [authors]
    function: reformat_authors
  platform:
    loculus_fields: [sequencingInstrument]
    default: "Unknown"
  program:
    loculus_fields: [consensusSequenceSoftwareName, consensusSequenceSoftwareVersion]
    default: "Unknown"
  coverage:
    loculus_fields: [depthOfCoverage]
    type: int
    default: 1
  run_ref:
    loculus_fields: [insdcRawReadsAccession]
metadata_mapping:
  'subject exposure':
    loculus_fields: [exposureEvent]
  'type exposure':
    loculus_fields: [exposureEvent]
  'hospitalisation':
    loculus_fields: [hostHealthState]
    function: match
    args: [Hospital]
  'illness symptoms':
    loculus_fields: [signsAndSymptoms]
  'collection date':
    loculus_fields: [sampleCollectionDate]
  'geographic location (country and/or sea)':
    loculus_fields: [geoLocCountry]
  'geographic location (region and locality)':
    loculus_fields: [geoLocAdmin1, geoLocAdmin2, geoLocCity]
  'sample capture status':
    loculus_fields: [purposeOfSampling]
  'host disease outcome':
    loculus_fields: [hostHealthOutcome]
  'host age':
    loculus_fields: [hostAge]
  'host health state':
    loculus_fields: [hostHealthState]
    default: "not provided"
  'host scientific name':
    loculus_fields: [hostNameScientific]
  'isolate':
    loculus_fields: [specimenCollectorSampleId]
    default: "not provided"
  'collecting institution':
    loculus_fields: [sequencedByOrganization, authorAffiliations]
    default: "not provided"
  'receipt date':
    loculus_fields: [sampleReceivedDate]
  'isolation source host-associated':
    loculus_fields: [anatomicalMaterial, anatomicalPart, bodyProduct]
  'isolation source non-host-associated':
    loculus_fields: [environmentalSite, environmentalMaterial]
  'authors':
    loculus_fields: [authors]
  'collector name':
    loculus_fields: []
    default: "not provided"
  'geographic location (latitude)':
    loculus_fields: [geoLocLatitude]
    units: DD
  'geographic location (longitude)':
    loculus_fields: [geoLocLongitude]
    units: DD
  'host sex':
    loculus_fields: [hostGender]
    default: "not provided"
  "host subject id":
    loculus_fields: []
    default: "not provided"
  'host common name':
    loculus_fields: [hostNameCommon]
    default: "not provided"
  'GISAID accession':
    loculus_fields: [gisaidIsolateId]
db_username: postgres
db_password: unsecure
db_url: "jdbc:postgresql://127.0.0.1:5432/loculus"
retry_threshold_min: 240
slack_retry_threshold_min: 720
submitting_time_threshold_min: 15
waiting_threshold_hours: 48
