username: external_metadata_updater
password: external_metadata_updater
keycloak_client_id: backend-client
ingest_pipeline_submission_group: 1
db_name: Loculus
unique_project_suffix: Loculus
ena_submission_username: fake-user
ena_submission_password: fake-password
submit_to_ena_prod: False
allowed_submission_hosts:
  - https://backend.pathoplexus.org
time_between_iterations: 10
min_between_github_requests: 2
min_between_ena_checks: 5
log_level: DEBUG
#ena_checklist: ERC000033 - do not use until all fields are mapped to ENA accepted options
manifest_fields_mapping: 
  authors:
    loculus_fields: [authors]
    function: reformat_authors
  platform:
    loculus_fields: [sequencingInstrument]
    default: "Unknown"
  program:
    loculus_fields: [consensusSequenceSoftwareName, consensusSequenceSoftwareVersion]
    default: "Unknown"
  coverage:
    loculus_fields: [depthOfCoverage]
    type: int
    default: 1
  run_ref:
    loculus_fields: [insdcRawReadsAccession]
metadata_mapping:
  'subject exposure':
    loculus_fields: [exposureEvent]
  'type exposure':
    loculus_fields: [exposureEvent]
  hospitalisation:
    loculus_fields: [hostHealthState]
    function: match
    args: [Hospital]
  'illness symptoms':
    loculus_fields: [signsAndSymptoms]
  'collection date':
    loculus_fields: [sampleCollectionDate]
  'geographic location (country and/or sea)':
    loculus_fields: [geoLocCountry]
  'geographic location (region and locality)':
    loculus_fields: [geoLocAdmin1, geoLocAdmin2, geoLocCity]
  'sample capture status':
    loculus_fields: [purposeOfSampling]
  'host disease outcome':
    loculus_fields: [hostHealthOutcome]
  'host common name':
    loculus_fields: [hostNameCommon]
  'host age':
    loculus_fields: [hostAge]
  'host health state':
    loculus_fields: [hostHealthState]
  'host sex':
    loculus_fields: [hostGender]
  'host scientific name':
    loculus_fields: [hostNameScientific]
  'isolate':
    loculus_fields: [specimenCollectorSampleId]
  'collecting institution':
    loculus_fields: [sequencedByOrganization, authorAffiliations]
  'receipt date':
    loculus_fields: [sampleReceivedDate]
  'isolation source host-associated':
    loculus_fields: [anatomicalMaterial, anatomicalPart, bodyProduct]
  'isolation source non-host-associated':
    loculus_fields: [environmentalSite, environmentalMaterial]
  'authors':
    loculus_fields: [authors]
  'geographic location (latitude)':
    loculus_fields: [geoLocLatitude]
    units: DD
  'geographic location (longitude)':
    loculus_fields: [geoLocLongitude]
    units: DD
metadata_mapping_mandatory_field_defaults:
  isolate: "not provided"
  "collecting institution": "not provided"
  "collector name": "not provided"
  "host scientific name": "not provided"
  "host sex": "not provided"
  "host health state": "not provided"
  "host subject id": "not provided"
  "host common name": "not provided"
db_username: postgres
db_password: unsecure
db_url: "jdbc:postgresql://127.0.0.1:5432/loculus"
annotations:
# Allowed qualifiers from https://www.ebi.ac.uk/ena/WebFeat/
  cds_qualifiers:
    - allele
    - artificial_location
    - circular_RNA
    - codon_start
    #- db_xref  - protein accession of reference
    - EC_number
    - exception
    - experiment
    - function
    - gene
    - gene_synonym
    - inference
    #- locus_tag - although technically allowed this can cause submission issues as must be pre-registered with ENA
    #- old_locus_tag
    - map
    - note
    - number
    - operon
    - product
    - protein_id
    - pseudo
    - pseudogene
    - ribosomal_slippage
    - standard_name
    - translation
  gene_qualifiers:
    - allele
    #- db_xref
    - experiment
    - function
    - gene
    - gene_synonym
    - inference
    #- locus_tag
    #- old_locus_tag
    - map
    - note
    - operon
    - product
    - pseudo
    - pseudogene
    - pseudotype
    - standard_name
    - trans_splicing
