# macOS-specific files
.DS_Store

# Editor
.idea/*
!.idea/runConfigurations
*.iml
.vscode/*
!.vscode/extensions.json
.venv

# build output
dist/

# dependencies
node_modules/

# logs
/log

temp/

.aider*
