---
import { ErrorFeedback } from '../../../components/ErrorFeedback';
import { BackButton } from '../../../components/Navigation/BackButton';
import UserSequences from '../../../components/UserSequenceList/UserSequences.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import ServerSideBackendClient from '../../../services/serverSideBackendClient';

// eslint-disable-next-line
const username = Astro.params.username!;

const userSequencesResponse = await ServerSideBackendClient.create().astroFileTypeHelpers.getSequencesOfUser(username);
---

<BaseLayout title='Sequences'>
    <>
        <div class='flex items-center'>
            <BackButton marginRight={2} client:load />
            <h1 class='subtitle'>{`Submitted sequences of user ${username}`}</h1>
        </div>
        {
            userSequencesResponse.match(
                (sequences) => <UserSequences sequences={sequences} username={username} />,
                (error) => (
                    <ErrorFeedback
                        message={'Error while fetching user sequences: ' + JSON.stringify(error)}
                        client:only='react'
                    />
                ),
            )
        }
    </>
</BaseLayout>
