---
import { SandwichMenu } from './SandwichMenu.tsx';
import { navigationItems } from '../../routes';
---

<div class='flex justify-end'>
    <div class='subtitle hidden sm:flex sm:z-6 gap-4'>
        {navigationItems.top.map(({ text, path }) => <a href={path}>{text}</a>)}
    </div>

    <div class='sm:hidden fixed z-0'>
        <SandwichMenu top={16} right={28} client:load />
    </div>
</div>
