---
import { cleanOrganism } from './cleanOrganism';
import { routes } from '../../routes';
import IwwaArrowDown from '~icons/iwwa/arrow-down';

const { knownOrganisms, organism } = cleanOrganism(Astro.params.organism);

const label = organism === undefined ? 'Choose Organism' : organism.displayName;
---

<div class='dropdown dropdown-hover hidden sm:flex relative'>
    <label tabindex='0' class='py-1 block text-gray-900'>
        {label}
        <span class='text-primary'> <IwwaArrowDown className='inline-block -mt-1 ml-1 h-4 w-4 ' /></span>
    </label>
    <ul tabindex='0' class='dropdown-content z-[1] menu p-1 shadow bg-base-100 rounded-btn absolute top-full -left-4'>
        {
            knownOrganisms.map((knownOrganism) => (
                <li>
                    <a href={routes.organismStartPage(knownOrganism.key)}>{knownOrganism.displayName}</a>
                </li>
            ))
        }
    </ul>
</div>
