[*]
end_of_line = lf
insert_final_newline = true

[gradlew.bat]
end_of_line = crlf

[*.{kt,kts}]
ktlint_code_style = official
trailing-comma-on-call-site = true
trailing-comma-on-declaration-site = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
max_line_length = 120
