name: loculus-nextclade
channels:
  - conda-forge
  - bioconda
  - nodefaults
dependencies:
  - python=3.12
  - biopython=1.84
  - dpath=2.2
  - nextclade=3.15
  - pip=24.3
  - PyYAML=6.0
  - pyjwt=2.10
  - python-dateutil=2.9
  - pytz=2024.2
  - requests=2.32
  - pandas=2.2
  - ruff
  - types-PyYAML
  - types-requests
  - types-pytz
  - types-python-dateutil
  - pytest
