name: loculus-nextclade
channels:
  - conda-forge
  - bioconda
  - nodefaults
dependencies:
  - python=3.12.9  # Pinned to 3.12.x series, check for patch updates within 3.12
  - biopython=1.85
  - dpath=2.2.0
  - nextclade=3.18.0
  - pip=25.2
  - uv=0.9.5
  - PyYAML=6.0.3
  - pyjwt=2.10.1
  - python-dateutil=2.9.0.post0
  - pytz=2025.2
  - requests=2.32.5
  - pandas=2.3.3
  - ruff=0.14.2
  - types-PyYAML=6.0.12.20250915
  - types-requests=2.32.4.20250913
  - types-pytz=2025.2.0.20250809
  - types-python-dateutil=2.9.0.20251008
  - pytest=8.4.2
  - unidecode=1.3.8
