name: loculus-nextclade
channels:
  - conda-forge
  - bioconda
  - nodefaults
dependencies:
  - python=3.14.3
  - biopython=1.86
  - dpath=2.2.0
  - nextclade=3.18.1
  - pip=25.2
  - uv=0.10.7
  - PyYAML=6.0.3
  - pyjwt=2.11.0
  - python-dateutil=2.9.0.post0
  - pytz=2025.2
  - requests=2.32.5
  - pandas=3.0.1
  - ruff=0.15.4
  - types-PyYAML=6.0.12.20250915
  - types-requests=2.32.4.20260107
  - types-python-dateutil=2.9.0.20260124
  - types-pytz=2025.2.0.20251108
  - unidecode=1.4.0
  - pytest=9.0.2
  - pydantic=2.12.5
  - diamond=2.1.23
