---
import { SubmissionForm } from '../../components/Submission/SubmissionForm';
import { getRuntimeConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
const runtimeConfig = getRuntimeConfig();
---

<BaseLayout title='Search'>
    <h1 class='title'>Submission Page</h1>

    <SubmissionForm runtimeConfig={runtimeConfig} client:only='react' />
</BaseLayout>
