---
import { BackButton } from '../../components/Navigation/BackButton';
import { cleanOrganism } from '../../components/Navigation/cleanOrganism';
import BaseLayout from '../../layouts/BaseLayout.astro';

const { organism } = cleanOrganism(Astro.params.organism);
---

<BaseLayout title={organism!.key}>
    <div class='flex items-center'>
        <BackButton marginRight={2} client:load />
        <h1 class='title'>Organism {organism?.displayName}</h1>
    </div>
</BaseLayout>
