---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { routes } from '../../routes';
import { GroupManagementClient } from '../../services/groupManagementClient';
import { getAccessToken } from '../../utils/getAccessToken';
const accessToken = getAccessToken(Astro.locals.session)!;

const groupsResult = await GroupManagementClient.create().getGroups(accessToken);

const organism = Astro.params.organism;

let errorMessage = '';
if (groupsResult.isOk()) {
    if (groupsResult.value.length > 0) {
        return Astro.redirect(routes.mySequencesPage(organism, groupsResult.value[0].name));
    }
    errorMessage = 'No groups found associated with this account';
} else {
    errorMessage = groupsResult.error.detail;
}
---

<BaseLayout title='My Sequences'>
    <div>
        <h1>{errorMessage}</h1>
    </div>
</BaseLayout>
