---
import { BackButton } from '../../components/Navigation/BackButton';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { routes } from '../../routes';

// accession is never undefined, but ESLint doesn't know that
// eslint-disable-next-line
const username = Astro.params.username!;
---

<BaseLayout title={username}>
    <div class='flex items-center'>
        <div class='flex items-center'>
            <BackButton marginRight={2} client:load />
            <h1 class='title'>User {username}</h1>
        </div>
        <div>
            <a href={routes.userSequencesPage(username)} class='text-xs ml-10'>Sequence Overview</a>
        </div>
    </div>
</BaseLayout>
