---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { routes } from '../../routes';
---

<BaseLayout title='Login'>
    <a href={routes.userPage('testuser')}>Login as testuser</a>
</BaseLayout>
