.kcLoginClass,
.kcHtmlClass {
    background: #efefef;
}

/** Hide the title with the realm name */
.kcHeaderWrapperClass {
    display: none;
}

.login-pf body {
    background: none;
}

.card-pf {
    border-top: none;
}
