---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title='About'>
    <h1 class='text-sky-500 font-bold text-xl'>About</h1>
    <div class='mt-4'>
        <p class='text-gray-700'>This is the about page.</p>
    </div>
</BaseLayout>
