---
import '../../../styles/mdcontainer.scss';
import LocationSelector from '../../../components/Navigation/LocationSelector';
import { cleanOrganism } from '../../../components/Navigation/cleanOrganism';
import { OrganismMetadataTable } from '../../../components/OrganismMetadataTable/OrganismMetadataTable';
import type { OrganismMetadata } from '../../../components/OrganismMetadataTable/OrganismMetadataTableSelector';
import { getGroupedInputFields, getSchema } from '../../../config';
import BaseLayout from '../../../layouts/BaseLayout.astro';

const organism = cleanOrganism(Astro.params.organism).organism!;
const organismMetadata: OrganismMetadata = {
    key: organism.key,
    displayName: organism.displayName,
    metadata: getSchema(organism.key).metadata,
    groupedInputFields: getGroupedInputFields(organism.key, 'submit'),
};
---

<BaseLayout title='Metadata format for submissions' fullWidth>
    <h1 class='title'>Metadata format for submissions</h1>
    <div class='mdContainer mdContainerItself'>
        <LocationSelector client:load/>
        <OrganismMetadataTable organism={organismMetadata} client:load />
    </div>
</BaseLayout>
