---
import { AuthorList } from './AuthorList';
import { type DataTableData } from './getDataTableData';
import { type DataUseTermsHistoryEntry } from '../../types/backend';

interface Props {
    dataTableData: DataTableData;
    dataUseTermsHistory: DataUseTermsHistoryEntry[];
}

const { dataTableData, dataUseTermsHistory } = Astro.props;
---

<div>
    {
        dataTableData.topmatter.authors !== undefined && dataTableData.topmatter.authors.length > 0 && (
            <div class='px-6 mb-4'>
                <AuthorList authors={dataTableData.topmatter.authors} client:load />
            </div>
        )
    }
    <div class='grid gap-x-6' style='grid-template-columns: repeat(auto-fill,minmax(min(100vw, 32rem), 1fr))'>
        {
            dataTableData.table.map(({ header, rows }) => (
                <div class='p-4'>
                    <h1 class='py-2 text-lg font-semibold border-b'>{header}</h1>
                    <div class='mt-4'>
                        {rows.map((entry) => (
                            <DataTableEntry data={entry} dataUseTermsHistory={dataUseTermsHistory} client:load />
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</div>
