---
import { getLatestAccessionVersion } from './getTableData';
import { routes } from '../../routes/routes.ts';
import { type SequenceEntryHistory, siloVersionStatuses } from '../../types/lapis';
import { getAccessionVersionString } from '../../utils/extractAccessionVersion';

interface Props {
    sequenceEntryHistory: SequenceEntryHistory;
    accessionVersion: string;
}

const { sequenceEntryHistory, accessionVersion } = Astro.props;

const ownHistoryEntry = sequenceEntryHistory.find((entry) => entry.accessionVersion === accessionVersion);

const latestAccessionVersion = getLatestAccessionVersion(sequenceEntryHistory);

const revoked =
    ownHistoryEntry?.versionStatus === siloVersionStatuses.revoked && latestAccessionVersion?.isRevocation === true;
const isLatestVersion = ownHistoryEntry?.versionStatus === siloVersionStatuses.latestVersion;
---

<div class='py-3'>
    {
        !isLatestVersion && (
            <div class='bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-3' role='alert'>
                <p class='font-bold'>This is not the latest version of this sequence entry.</p>
                {latestAccessionVersion !== undefined && (
                    <p>
                        The latest version is: 
                        <a href={routes.sequencesDetailsPage(latestAccessionVersion)} class='font-bold underline mx-1'>
                            {getAccessionVersionString(latestAccessionVersion)}
                        </a>
                    </p>
                )}
            </div>
        )
    }
    {
        ownHistoryEntry?.isRevocation === true && (
            <div class='bg-red-100 border-l-4 border-red-500 text-red-700 p-3 ' role='alert'>
                <p class='font-bold'>
                    This is a revocation version. It essentially contains no data, it's just a marker that all previous
                    versions have been revoked.
                </p>
            </div>
        )
    }
    {
        revoked && (
            <>
                <div class='bg-red-100 border-l-4 border-red-500 text-red-700 p-3 ' role='alert'>
                    <p class='font-bold'>This sequence entry has been revoked!</p>
                </div>
                <div class='fixed top-0 left-0 w-full h-full flex items-center justify-center pointer-events-none'>
                    <div class='text-red-600 rotate-45 text-8xl font-bold uppercase opacity-20'>REVOKED</div>
                </div>
            </>
        )
    }
</div>
