---
import { SequenceEntryHistoryMenu } from './SequenceEntryHistoryMenu';
import { routes } from '../../routes/routes';
import { type SequenceEntryHistory } from '../../types/lapis';
import IcBaselineDownload from '~icons/ic/baseline-download';
import IwwaArrowDown from '~icons/iwwa/arrow-down';

interface Props {
    sequenceEntryHistory?: SequenceEntryHistory;
    accessionVersion: string;
    showDownload: boolean;
    showFastaDownloadButton: boolean;
}

const { sequenceEntryHistory, accessionVersion, showDownload, showFastaDownloadButton } = Astro.props;
---

<div class='flex justify-between flex-wrap'>
    <div class='flex flex-row pb-6'>
        <h1 class='title'>{accessionVersion}</h1>
    </div>

    <div class='pt-2'>
        {
            sequenceEntryHistory !== undefined && sequenceEntryHistory.length > 1 && (
                <SequenceEntryHistoryMenu
                    sequenceEntryHistory={sequenceEntryHistory}
                    accessionVersion={accessionVersion}
                />
            )
        }
        {
            showDownload && (
                <div class='inline-block dropdown dropdown-hover dropdown-end'>
                    <label tabindex='0' class='hidden sm:block py-1 text-primary-700 cursor-pointer'>
                        Download
                        <span class='text-primary'>
                            {' '}
                            <IwwaArrowDown className='inline-block -mt-1 ml-1 h-4 w-4' />
                        </span>
                    </label>
                    <span tabindex='0' class='sm:hidden inline text-xl cursor-pointer'>
                        <IcBaselineDownload />
                    </span>
                    <ul class='dropdown-content z-20 menu p-1 shadow bg-base-100 rounded-btn top-full -left-44 sm:-left-24 w-52'>
                        {showFastaDownloadButton && (
                            <li>
                                <a
                                    href={routes.sequenceEntryFastaPage(accessionVersion, true)}
                                    class='block px-4 py-2 outlineButtonDropdownItem'
                                >
                                    Download FASTA
                                </a>
                            </li>
                        )}
                        <li>
                            <a
                                href={routes.sequenceEntryTsvPage(accessionVersion, true)}
                                class='block px-4 py-2 outlineButtonDropdownItem'
                            >
                                Download metadata TSV
                            </a>
                        </li>
                    </ul>
                </div>
            )
        }
    </div>
</div>
