---
import { SequenceEntryHistoryMenu } from './SequenceEntryHistoryMenu';
import { routes } from '../../routes/routes';
import { type SequenceEntryHistory } from '../../types/lapis';
import IcBaselineDownload from '~icons/ic/baseline-download';

interface Props {
    sequenceEntryHistory?: SequenceEntryHistory;
    organism: string;
    accessionVersion: string;
    showDownload: boolean;
}

const { sequenceEntryHistory, accessionVersion, showDownload } = Astro.props;
---

<div class='flex justify-between flex-wrap'>
    <div class='flex flex-row pb-6'>
        <h1 class='title'>{accessionVersion}</h1>
    </div>

    <div class='pt-2'>
        {
            sequenceEntryHistory !== undefined && sequenceEntryHistory.length > 1 && (
                <SequenceEntryHistoryMenu
                    sequenceEntryHistory={sequenceEntryHistory}
                    accessionVersion={accessionVersion}
                />
            )
        }
        {
            showDownload && (
                <div class='sm:outlineButton inline-block dropdown dropdown-hover dropdown-end'>
                    <span tabindex='0' class='hidden sm:inline cursor-pointer'>
                        Download
                    </span>
                    <span tabindex='0' class='sm:hidden inline text-xl cursor-pointer'>
                        <IcBaselineDownload />
                    </span>
                    <ul class='dropdown-content z-20 menu p-1 shadow bg-base-100 rounded-btn top-full -left-22 w-35'>
                        <li>
                            <a
                                href={routes.sequencesFastaPage(accessionVersion, true)}
                                class='block px-4 py-2 outlineButtonDropdownItem'
                            >
                                FASTA
                            </a>
                        </li>
                        <li>
                            <a
                                href={routes.sequencesTsvPage(accessionVersion, true)}
                                class='block px-4 py-2 outlineButtonDropdownItem'
                            >
                                Metadata TSV
                            </a>
                        </li>
                    </ul>
                </div>
            )
        }
    </div>
</div>
