---
import { SequenceEntryHistoryMenu } from './SequenceEntryHistoryMenu';
import { routes } from '../../routes/routes';
import { type SequenceEntryHistory } from '../../types/lapis';
import IcBaselineDownload from '~icons/ic/baseline-download';

interface Props {
    sequenceEntryHistory?: SequenceEntryHistory;
    organism: string;
    accessionVersion: string;
    showFastaDownload: boolean;
}

const { sequenceEntryHistory, accessionVersion, showFastaDownload } = Astro.props;
---

<div class='flex justify-between flex-wrap'>
    <div class='flex flex-row pb-6'>
        <h1 class='title'>{accessionVersion}</h1>
    </div>

    <div class='pt-2'>
        {
            sequenceEntryHistory !== undefined && sequenceEntryHistory.length > 1 && (
                <SequenceEntryHistoryMenu
                    sequenceEntryHistory={sequenceEntryHistory}
                    accessionVersion={accessionVersion}
                />
            )
        }
        {
            // TODO update this button here
            showFastaDownload && (
                <a
                    class='sm:outlineButton inline-block'
                    href={routes.sequencesFastaPage(accessionVersion) + '?download'}
                >
                    <span class='hidden sm:inline'>Download FASTA</span>
                    <span class='sm:hidden inline text-xl'>
                        <IcBaselineDownload />
                    </span>
                </a>
            )
        }
    </div>
</div>
