# Values here are defaults for the `config` variable in the Snakefile
# Purpose is to keep the `values.yaml` config file clean
nucleotide_sequences: ["main"]
post_start_sleep: 0
log_level: INFO
compound_country_field: ncbiGeoLocation
fasta_id_field: genbankAccession
keep:
  - division
  - country
  - submissionId
  - insdcAccessionBase
  - insdcVersion
  - bioprojects
  - biosampleAccession
  - ncbiHostName
  - ncbiHostTaxId
  - ncbiIsLabHost
  - ncbiReleaseDate
  - ncbiUpdateDate
  - ncbiSourceDb
  - ncbiVirusName
  - ncbiVirusTaxId
  - sequence_md5
  - genbankAccession
  - jointAccession
column_mapping:
  Accession: genbankAccession
  BioProjects: bioprojects
  BioSample accession: biosampleAccession
  Gene count: ncbi_gene_count
  Geographic Location: ncbiGeoLocation
  Geographic Region: ncbiGeoRegion
  Host Common Name: ncbiHostCommonName
  Host Infraspecific Names Breed: ncbiHostBreed
  Host Infraspecific Names Cultivar: ncbiHostCultivar
  Host Infraspecific Names Ecotype: ncbiHostEcotype
  Host Infraspecific Names Isolate: ncbiHostIsolate
  Host Infraspecific Names Sex: ncbiHostSex
  Host Infraspecific Names Strain: ncbiHostStrain
  Host Name: ncbiHostName
  Host Pangolin Classification: ncbiHostPangolin
  Host Taxonomic ID: ncbiHostTaxId
  Is Annotated: ncbiIsAnnotated
  Is Complete: ncbiIsComplete
  Is Lab Host: ncbiIsLabHost
  Is Vaccine Strain: ncbiIsVaccineStrain
  Isolate Collection date: ncbiCollectionDate
  Isolate Lineage: ncbiIsolateName
  Isolate Lineage source: ncbiIsolateSource
  Lab Host: ncbiLabHost
  Mature peptide count: ncbiMaturePeptideCount
  Molecule type: ncbiMolType
  Protein count: ncbiProteinCount
  Purpose of Sampling: ncbiPurposeOfSampling
  Release date: ncbiReleaseDate
  Source database: ncbiSourceDb
  SRA Accessions: ncbiSraAccessions
  Submitter Affiliation: ncbiSubmitterAffiliation
  Submitter Country: ncbiSubmitterCountry
  Submitter Names: ncbiSubmitterNames
  Update date: ncbiUpdateDate
  Virus Common Name: ncbiVirusCommonName
  Virus Infraspecific Names Breed: ncbiVirusBreed
  Virus Infraspecific Names Cultivar: ncbiVirusCultivar
  Virus Infraspecific Names Ecotype: ncbiVirusEcotype
  Virus Infraspecific Names Isolate: ncbiVirusIsolate
  Virus Infraspecific Names Sex: ncbi_virus
  Virus Infraspecific Names Strain: ncbiVirusStrain
  Virus Name: ncbiVirusName
  Virus Pangolin Classification: ncbiVirusPangolin
  Virus Taxonomic ID: ncbiVirusTaxId
group_name: insdc_ingest_group
username: insdc_ingest_user
password: insdc_ingest_user
keycloak_client_id: backend-client
subsample_fraction: 1.0
