# Values here are defaults for the `config` variable in the Snakefile
# Purpose is to keep the `values.yaml` config file clean
nucleotide_sequences: ["main"]
post_start_sleep: 0
log_level: DEBUG
compound_country_field: ncbiGeoLocation
fasta_id_field: genbankAccession
keep:
  - division
  - country
  - id
  - insdcAccessionBase
  - insdcVersion
  - bioprojects
  - biosampleAccession
  - ncbiHostName
  - ncbiHostTaxId
  - ncbiIsLabHost
  - ncbiReleaseDate
  - ncbiUpdateDate
  - ncbiSourceDb
  - ncbiVirusName
  - ncbiVirusTaxId
  - sequence_md5
  - genbankAccession
  - jointAccession
ncbi_mappings:
  string_to_string_mappings:
    "ncbiReleaseDate": "releaseDate"
    "ncbiIsAnnotated": "isAnnotated"
    "ncbiIsLabHost": "isLabHost"
    "ncbiProteinCount": "proteinCount"
    "ncbiSourceDb": "sourceDatabase"
    "ncbiIsComplete": "completeness"
    "ncbiLabHost": "labHost"
    "ncbiUpdateDate": "updateDate"
    "genbankAccession": "accession"
    "biosampleAccession": "biosample"
    "ncbi_gene_count": "geneCount"
  string_to_list_mappings:
    "bioprojects": "bioprojects"
    "ncbiSraAccessions": "sraAccessions"
  string_to_dict_mappings:
    location:
      "ncbiGeoLocation": "geographicLocation"
      "ncbiGeoRegion": "geographicRegion"
    submitter:
      "ncbiSubmitterAffiliation": "affiliation"
      "ncbiSubmitterNames": "names"
      "ncbiSubmitterCountry": "country"
    isolate:
      "ncbiIsolateName": "name"
      "ncbiIsolateSource": "source"
      "ncbiCollectionDate": "collectionDate"
    virus:
      "ncbiVirusName": "organismName"
      "ncbiVirusTaxId": "taxId"
    host:
      "ncbiHostTaxId": "taxId"
      "ncbiHostName": "organismName"
  unknown_mappings: # Keep for backward compatibility with old ingest pipeline
    - ncbiHostCommonName
    - ncbiPurposeOfSampling
    - ncbiHostSex
group_name: insdc_ingest_group  # Used only to set the group name, never read
username: insdc_ingest_user
password: insdc_ingest_user
keycloak_client_id: backend-client
subsample_fraction: 1.0
approve_timeout_min: "25" # Cronjobs run every 30min, make approve stop before it is forced to stop by argocd 
db_username: postgres
db_password: unsecure
db_url: "jdbc:postgresql://127.0.0.1:5432/loculus"
batch_chunk_size: 10000  # Batch size for submitting sequences to Loculus backend
nextclade_dataset_server: https://data.clades.nextstrain.org/v3
time_between_approve_requests_seconds: 60
backend_request_timeout_seconds: 600
match_previous_accession_versions: false
