---
import { getData, SearchStatus } from './search';
import { ErrorFeedback } from '../../components/SearchPage/ErrorFeedback';
import { SearchForm } from '../../components/SearchPage/SearchForm';
import { Table } from '../../components/SearchPage/Table';
import { getConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { type Filter } from '../../types';

const config = getConfig();
const getSearchParams = (field: string): string => {
    const searchParameter = Astro.url.searchParams.get(field);
    return searchParameter === null ? '' : searchParameter;
};

const metadataSettings: Filter[] = config.schema.metadata.map((metadata) => ({
    ...metadata,
    filter: getSearchParams(metadata.name),
}));

const data =
    Astro.url.searchParams.get('search') === 'true'
        ? await getData(metadataSettings)
        : { status: SearchStatus.OK, data: [] };
---

<BaseLayout title='Search'>
    <h1 class='title'>Search</h1>
    <div>
        {data.status === SearchStatus.OK ? null : <ErrorFeedback client:only='react' />}
        <SearchForm metadataSettings={metadataSettings} client:only='react' />
        <Table data={data.status === SearchStatus.OK ? data.data : []} config={config} client:only='react' />
    </div>
</BaseLayout>
