---
import { getData } from './search';
import { SearchForm } from '../../components/SearchPage/SearchForm';
import { Table } from '../../components/SearchPage/Table';
import { config, type Filter } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { titleClass } from '../../styles/theme';

const getSearchParams = (field: string): string => {
    const searchParameter = Astro.url.searchParams.get(field);
    return searchParameter === null ? '' : searchParameter;
};

const metadataSettings: Filter[] = config.schema.metadata.map((metadata) => ({
    ...metadata,
    filter: getSearchParams(metadata.name),
}));

const data = Astro.url.searchParams.get('search') !== null ? await getData(metadataSettings) : [];
---

<BaseLayout title='Search'>
    <h1 class={titleClass}>Search</h1>
    <div>
        <SearchForm metadataSettings={metadataSettings} client:only='react' />
        <Table data={data} config={config} client:load />
    </div>
</BaseLayout>
