---
import { BackButton } from '../../../components/Navigation/BackButton';
import { GroupPage } from '../../../components/User/GroupPage';
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title='Group'>
    <div class='flex items-center'>
        <BackButton marginRight={2} client:load />
        <h1 class='title'>My super-duper mega-fancy Group</h1>
    </div>
    <GroupPage users={[{ name: 'Arno Nym' }, { name: 'Test User' }]} client:load />
</BaseLayout>
