---
export interface Props {
    link?: string;
}

const { link } = Astro.props;
---

{
    link === undefined ? (
        <slot />
    ) : (
        <a href={link} class='text-inherit no-underline'>
            <slot />
        </a>
    )
}
