---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { fetchSequenceDetails } from '../../api';
import { getConfig } from '../../config';

interface Props {
  accession: string;
}

const { accession } = Astro.params;
const data = await fetchSequenceDetails(accession);
const config = getConfig();
---

<!-- This is entirely server-side rendered -->
<BaseLayout title={data[config.schema.primaryKey]}>
  <h1 class='font-bold'>{data[config.schema.primaryKey]}</h1>
  <ul>
    {
      config.schema.metadata.map(({ name }) => (
        <li>
          {name}: {data[name]}
        </li>
      ))
    }
  </ul>
</BaseLayout>
