---
import { SubmissionForm } from '../../../components/Submission/SubmissionForm';
import { getRuntimeConfig } from '../../../config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getAccessToken } from '../../../utils/getAccessToken';

const organism = Astro.params.organism!;
const accessToken = getAccessToken(Astro.locals.session)!;

const clientConfig = getRuntimeConfig().public;
---

<BaseLayout title='Submit'>
    <h1 class='title'>Submission Page</h1>
    <SubmissionForm accessToken={accessToken} organism={organism} clientConfig={clientConfig} client:only='react' />
</BaseLayout>
