{{- if .Values.dockerconfigjson }}
apiVersion: v1
data:
  .dockerconfigjson: '{{ .Values.dockerconfigjson }}'
kind: Secret
metadata:
  name: ghcr-secret
type: kubernetes.io/dockerconfigjson

{{- else }}

apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  creationTimestamp: null
  name: ghcr-secret
spec:
  encryptedData:
    .dockerconfigjson: AgB5H6xQI+Bn+gU9Y2FtwQ2+R3hjkthdBIp2pSYTFoA3gUvQKQou57tJNN3dWy9FfaCuzVQYfA95OWQBwnnjxt5Pr1iqjgGAl+QtDUfN0OvJBb8vNVEk+/peSNs33e+w2aOQk6AiJC1msa5y4FAUo5EVKTD4fHHZWESCQRD9aMYUPsCXdTsVr0IW/n0AOKYnn8qg1IEtzUkLIiI1cZF5v4meKf63q+QAoqX0RCx+zNcum7kY4EF5DOqAx0l6pbaCtCsYpbNZku0Gq/JFeXATrMS+nnhWNUMCbu40lSLCQvoJr2aI9XeYgH92TsMUtanxTxtNEnW4FHrHByctiRN8wPZvlo8oujTNVEE00/rWAoKUdvjsaETU1Cbrn/8NomV4sQIDgApXM4X0YUQDo74bQCKhDCkO2UTQ7JFYxyAJil5cxSYRQzuNSzvMxDf1pwfDvXM9EYCpKe3lYzg7G0BGQCVoMP9Hi16rzl9t3JX4pTqVDISo+gDk+AjgdRnpd34w//4G3KQvJw1bFOQ0lD+vCw9yMLmytbOa+oCdtfgbplR1nE4J5dld/pnZK+6MryRU971seckINsGjVNCLc8Q7evGg6RWW1dklAaPe2SZ4+Oo15Xb0PDT69T+gsqueF7vwqHCYigo6h9RfKTDvxxNWZyr+Vqv+m0pMCLSWme04z7+KxmYsNBUxkdQi0QF6vkoRNaJXcmKZInFPe9aufgoVj7ZLMa5O9Mf2JwKz/1NZaf2pGOND+TunPoXKEyak1MYD0U2KYMcaF0DuKOJl0uxTkJy914bp0hbbGiR4iis52KWEmuk4EJPkirCTRKmkOboreG81DmaVpzZ7AP1GEIWccYFdGWXWDLAOEulQFypLTlZdzpDzzseeDhEmppv3q+Q7UdN6VhGyO1sYRDZTIppaRNk7UFp26qZiYHI+10Cr7M4uNonOC0kI1ep9MuvLsasYFUqKQRo=
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      name: ghcr-secret
    type: kubernetes.io/dockerconfigjson

---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: smtp-password
spec:
  encryptedData:
    secretKey: AgCoDKVhu9eUF90E2CXJmF4CVFDHe8zHyQqQLNDaJ4dlCkm2QHvEEBL8WXABAMlfJqIv/W/rHmz2QfhpZRNYGr7r+Q4wk5nvi5bh+HAmAecglsI6UMqTj+hNRVDrgwZ1mevzJKdx2dDQ3kOk6hP8s/EmMsabmPEavCVse/3dE88VNop9HAPlbvuTk2hbFZhavDOmarVxv2vSuPSGOjEch2YwuHai+3LK2F4gVRk5ziDzkc7WhjGlczAW/IKqPo/Y7ecKeopJN+nZp4lMzNHzaiYFX8eegzRnXW0aB1Cop91mLx2PKUGiM4jLmUb/m2tWaLvUPmmrNeblI6yxHoHbu1McPJlQAepUekeoeypxuTxgCDkdTG3CPhpPQjg3XUpdrtjmjuxdljHEhIbmP/8sX+v9I5Px88msQkcUHEkXibjsWmSNChRCN40e61B4VScvEB84SemrEAFyApMbbru2H0G2kKwPMPBqN2f71rDUdqiryh7yMCwZANxBCt6XNxwo7ndss0NNBcE+qLfthHX0mFr9Sn8p09tC8Qo8pg9lKhseT2o/1VEdvXQONi2zy/lo/KNijhrn+Kbhc2Ea3bcFosAsSGxVgbZ1penGmjrYW7XVgRxeQ171oc/Xiy7SBc8wSqfBOamnYzIQkpHfpBnE5KoDzFdkUsQPwA+32FfsZt9PgXiGyVf9dSfO+yQJXFO+dhpWQMk4UfG0wEUB2TyzpI+/HhVhRAz6Bpwdj5YJc+IPTw==
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      name: smtp-password
    type: Opaque
{{- end }}

{{ if .Values.customWebsiteSealedSecret }}
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  creationTimestamp: null
  name: custom-website-sealed-secret
spec:
  encryptedData:
    .dockerconfigjson: {{ $.Values.customWebsiteSealedSecret }}
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      creationTimestamp: null
      name: custom-website-sealed-secret
    type: kubernetes.io/dockerconfigjson
{{- end }}

