{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- $testconfig := .Values.testconfig | default false }}
{{- $backendHost := .Values.environment | eq "server" | ternary (printf "https://backend%s%s" .Values.subdomainSeparator $.Values.host) ($testconfig | ternary (printf "http://%s:8079" $.Values.localHost) "http://loculus-backend-service:8079") }}
{{- $enaDepositionHost := $testconfig | ternary (printf "http://%s:5000" $.Values.localHost) "http://loculus-ena-submission-service:5000" }}
{{- $keycloakHost := $testconfig | ternary (printf "http://%s:8083" $.Values.localHost) "http://loculus-keycloak-service:8083" }}
{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
{{- $values := $item.contents }}
{{- if $values.ingest }}
{{- $metadata := (include "loculus.patchMetadataSchema" $values.schema | fromYaml).metadata }}
{{- $rawUniqueSegments := (include "loculus.getNucleotideSegmentNames" $values.referenceGenomes | fromYaml).segments }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-ingest-config-{{ $key }}
data:
  config.yaml: |
    {{- $values.ingest.configFile | toYaml | nindent 4 }}
    nucleotide_sequences: {{- $rawUniqueSegments | toYaml | nindent 4 }}
    verify_loculus_version_is: {{$dockerTag}}
    check_ena_deposition: {{ not $.Values.disableEnaSubmission }}
    {{- if not $.Values.disableEnaSubmission }}
    ena_deposition_url: {{ $enaDepositionHost }}
    {{- end }}
    organism: {{ $key }}
    backend_url: {{ $backendHost }}
    keycloak_token_url: {{ $keycloakHost -}}/realms/loculus/protocol/openid-connect/token
    {{- if $.Values.ingest.ncbiGatewayUrl }}
    ncbi_gateway_url: {{ $.Values.ingest.ncbiGatewayUrl }}
    {{- end }}
    {{- if $.Values.ingest.mirrorBucket }}
    mirror_bucket: {{ $.Values.ingest.mirrorBucket }}
    {{- end }}
    {{- include "loculus.ingestRename" $metadata | nindent 4 }}
    insdc_segment_specific_fields:
    {{- range $metadata }}
    {{- if and (eq .header "INSDC") .perSegment }}
      - {{ .name }}
    {{- end -}}
    {{- end }}
{{- end }}
{{- end }}
