{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- $testconfig := .Values.testconfig | default false }}
{{- $backendHost := .Values.environment | eq "server" | ternary (printf "https://backend%s%s" .Values.subdomainSeparator $.Values.host) ($testconfig | ternary "http://localhost:8079" "http://loculus-backend-service:8079") }}
{{- $keycloakHost := $testconfig | ternary "http://localhost:8083" "http://loculus-keycloak-service:8083" }}
{{- range $key, $values := (.Values.organisms | default .Values.defaultOrganisms) }}
{{- if $values.ingest }}
{{- $metadata := (include "loculus.patchMetadataSchema" $values.schema | fromYaml).metadata }}
{{- $nucleotideSequencesList := (include "loculus.patchMetadataSchema" $values.schema | fromYaml).nucleotideSequences | default (list "main")}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-ingest-config-{{ $key }}
data:
  config.yaml: |
    {{- $values.ingest.configFile | toYaml | nindent 4 }}
    nucleotideSequences: {{- $nucleotideSequencesList | toYaml | nindent 4 }}
    verify_loculus_version_is: {{$dockerTag}}
    check_ena_deposition: {{ not $.Values.disableEnaSubmission }}
    organism: {{ $key }}
    backend_url: {{ $backendHost }}
    keycloak_token_url: {{ $keycloakHost -}}/realms/loculus/protocol/openid-connect/token
    {{- include "loculus.ingestRename" $metadata | nindent 4 }}
    insdc_segment_specific_fields:
    {{- range $metadata }}
    {{- if and (eq .header "INSDC") .perSegment }}
      - {{ .name }}
    {{- end -}}
    {{- end }}
{{- end }}
{{- end }}
