{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- if not .Values.disableIngest }}
{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
{{- $organismContent := $item.contents }}
{{- if $organismContent.ingest }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-ingest-deployment-{{ $key }}
  annotations:
    argocd.argoproj.io/sync-options: Force=true,Replace=true
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: loculus
      component: loculus-ingest-deployment-{{ $key }}
  template:
    metadata:
      annotations:
        timestamp: {{ now | quote }}
      labels:
        app: loculus
        component: loculus-ingest-deployment-{{ $key }}
    spec:
      {{- include "possiblePriorityClassName" $ | nindent 6 }}
      initContainers:
        - name: version-check
          image: ghcr.io/loculus-project/busybox@sha256:d8d3bc2c183ed2f9f10e7258f84971202325ee6011ba137112e01e30f206de67
          {{- include "loculus.resources" (list "ingest-init" $.Values) | nindent 10 }}
          command: ['sh', '-c', '
            CONFIG_VERSION=$(grep "verify_loculus_version_is:" /package/config/config.yaml | sed "s/verify_loculus_version_is: //;");
            DOCKER_TAG="{{ $dockerTag }}";
            echo "Config version: $CONFIG_VERSION";
            echo "Docker tag: $DOCKER_TAG";
            if [ "$CONFIG_VERSION" != "$DOCKER_TAG" ]; then
              echo "Version mismatch: ConfigMap version $CONFIG_VERSION does not match docker tag $DOCKER_TAG";
              exit 1;
            else
              echo "Version match confirmed";
            fi
          ']
          volumeMounts:
            - name: loculus-ingest-config-volume-{{ $key }}
              mountPath: /package/config/config.yaml
              subPath: config.yaml
      containers:
        - name: ingest-{{ $key }}
          image: {{ $organismContent.ingest.image}}:{{ $dockerTag }}
          imagePullPolicy: {{ $.Values.imagePullPolicy }}
          {{- include "loculus.resources" (list "ingest" $.Values) | nindent 10 }}
          env:
            - name: KEYCLOAK_INGEST_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: service-accounts
                  key: insdcIngestUserPassword
            - name: SLACK_HOOK
              valueFrom:
                secretKeyRef:
                  name: slack-notifications
                  key: slack-hook
            - name: NCBI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: ingest-ncbi
                  key: api-key
          args:
            - snakemake
            - results/submitted
            - results/revised
            - results/approved
            - --all-temp # Reduce disk usage by not keeping files around
      {{- if $organismContent.ingest.configFile }}
          volumeMounts:
            - name: loculus-ingest-config-volume-{{ $key }}
              mountPath: /package/config/config.yaml
              subPath: config.yaml
      volumes:
        - name: loculus-ingest-config-volume-{{ $key }}
          configMap:
            name: loculus-ingest-config-{{ $key }}
      {{- end }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: loculus-revoke-and-regroup-cronjob-{{ $key }}
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  schedule: "0 0 31 2 *" # Never runs without manual trigger
  suspend: true
  startingDeadlineSeconds: 60
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      activeDeadlineSeconds: {{ $.Values.ingestLimitSeconds }}
      template:
        metadata:
          labels:
            app: loculus
            component: loculus-ingest-cronjob-{{ $key }}
        spec:
          {{- include "possiblePriorityClassName" $ | nindent 10 }}
          restartPolicy: Never
          containers:
            - name: ingest-{{ $key }}
              image: {{ $organismContent.ingest.image}}:{{ $dockerTag }}
              imagePullPolicy: {{ $.Values.imagePullPolicy }}
              resources:
                requests:
                  memory: "1Gi"
                  cpu: "200m"
                limits:
                  cpu: "200m"
                  memory: "10Gi"
              env:
                - name: KEYCLOAK_INGEST_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: service-accounts
                      key: insdcIngestUserPassword
              args:
                - snakemake
                - results/submitted
                - results/revised
                - results/revoked
                - results/approved
                - --all-temp # Reduce disk usage by not keeping files around
          {{- if $organismContent.ingest.configFile }}
              volumeMounts:
                - name: loculus-ingest-config-volume-{{ $key }}
                  mountPath: /package/config/config.yaml
                  subPath: config.yaml
          volumes:
            - name: loculus-ingest-config-volume-{{ $key }}
              configMap:
                name: loculus-ingest-config-{{ $key }}
          {{- end }}
{{- end }}
{{- end }}
{{- end }}
