{{- define "keycloakUrl" -}}
  {{- if eq .Values.environment "server" -}}
    {{- printf "https://authentication-%s" .Values.host -}}
  {{- else if .Values.codespaceName -}}
    {{- printf "https://%s-8083.app.github.dev" .Values.codespaceName -}}
  {{- else -}}
    {{- "http://localhost:8083" -}}
  {{- end -}}
{{- end -}}
---

{{- $dockerTag := include "loculus.dockerTag" .Values }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-keycloak
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: keycloak
  template:
    metadata:
      labels:
        app: loculus
        component: keycloak
    spec:
      initContainers:
        - name: keycloak-theme-prep
          image: "ghcr.io/loculus-project/keycloakify:{{ $dockerTag }}"
          volumeMounts:
            - name: theme-volume
              mountPath: /destination
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak
          env:
            - name: DB_VENDOR
              value: "postgres"
            - name: DB_ADDR
              value: "loculus-keycloak-database-service"
            - name: DB_DATABASE
              value: "keycloak"
            - name: DB_USER
              value: "postgres"
            - name: DB_PASSWORD
              value: "unsecure"
            - name: KEYCLOAK_ADMIN
              value: "admin"
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: "admin"
            - name: KC_PROXY
              value: "edge"
            - name: PROXY_ADDRESS_FORWARDING
              value: "true"
            - name: KC_HEALTH_ENABLED
              value: "true"
            - name: KC_HOSTNAME_URL
              value: "{{ include "keycloakUrl" . }}"
            - name: KC_HOSTNAME_ADMIN_URL
              value: "{{ include "keycloakUrl" . }}"
            - name: KC_FEATURES
              value: "declarative-user-profile"
          args:
            - "start-dev"
            - "--import-realm"
            - "--cache=local"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config-volume
              mountPath: /opt/keycloak/data/import/
            - name: theme-volume
              mountPath: /opt/keycloak/providers/
          startupProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 30
      volumes:
        - name: config-volume
          configMap:
            name: keycloak-config
        - name: theme-volume
          emptyDir: {}
      imagePullSecrets:
        - name: ghcr-secret
