{{- $keycloakHost := printf "authentication.%s" .Values.host }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-config
  namespace: {{ .Values.namespace }}
data:
  keycloak-config.json: |
    {
      "realm": "loculusRealm",
      "enabled": true,
      "registrationAllowed": true,
      "accessTokenLifespan": 36000,
      "users": [
        {{- $browsers := list "firefox" "webkit" "chromium"}}
        {{- range $_, $browser := $browsers }}
          {{- range $index, $_ := until 20}}
        {
          "username": "testuser_{{$index}}_{{$browser}}",
          "enabled": true,
          "email": "testuser_{{$index}}_{{$browser}}@keycloak.org",
          "firstName": "Test",
          "lastName": "User",
          "credentials": [
            {
              "type": "password",
              "value": "testuser_{{$index}}_{{$browser}}"
            }
          ],
          "realmRoles": [
            "user",
            "offline_access"
          ],
          "clientRoles": {
            "account": [
              "manage-account"
            ]
          }
        },
          {{ end }}
        {{ end }}
        {
          "username": "testuser",
          "enabled": true,
          "email": "testuser@keycloak.org",
          "firstName": "Test",
          "lastName": "User",
          "credentials": [
            {
              "type": "password",
              "value": "testuser"
            }
          ],
          "realmRoles": [
            "user",
            "offline_access"
          ],
          "clientRoles": {
            "account": [
              "manage-account"
            ]
          }
        },
        {
          "username": "insdc_ingest_user",
          "enabled": true,
          "email": "insdc_ingest_user@keycloak.org",
          "firstName": "INSDC Ingest",
          "lastName": "User",
          "credentials": [
            {
              "type": "password",
              "value": "insdc_ingest_user"
            }
          ],
          "realmRoles": [
            "user",
            "offline_access"
          ],
          "clientRoles": {
            "account": [
              "manage-account"
            ]
          }
        },
        {
          "username": "dummy_preprocessing_pipeline",
          "enabled": true,
          "email": "dummy_preprocessing_pipeline@keycloak.org",
          "firstName": "Dummy",
          "lastName": "Preprocessing",
          "credentials": [
            {
              "type": "password",
              "value": "dummy_preprocessing_pipeline"
            }
          ],
          "realmRoles": [
            "preprocessing_pipeline",
            "offline_access"
          ],
          "clientRoles": {
            "account": [
              "manage-account"
            ]
          }
        },
        {
          "username": "silo_import_job",
          "enabled": true,
          "email": "silo_import_job@keycloak.org",
          "firstName": "SILO",
          "lastName": "ImportJob",
          "credentials": [
            {
              "type": "password",
              "value": "silo_import_job"
            }
          ],
          "realmRoles": [
            "get_released_data",
            "offline_access"
          ],
          "clientRoles": {
            "account": [
              "manage-account"
            ]
          }
        },
        {
          "username": "backend",
          "enabled": true,
          "email": "nothing@void.o",
          "firstName": "Backend",
          "lastName": "Technical-User",
          "credentials": [
            {
              "type": "password",
              "value": "backend"
            }
          ],
          "clientRoles": {
            "realm-management": [
              "view-users"
            ],
            "account": [
              "manage-account"
            ]
          }
        }
      ],
      "roles": {
        "realm": [
          {
            "name": "user",
            "description": "User privileges"
          },
          {
            "name": "admin",
            "description": "Administrator privileges"
          },
          {
            "name": "preprocessing_pipeline",
            "description": "Preprocessing pipeline privileges"
          },
          {
            "name": "get_released_data",
            "description": "Privileges for getting released data"
          }
        ]
      },
      "clients": [
        {
          "clientId": "test-cli",
          "enabled": true,
          "publicClient": true,
          "directAccessGrantsEnabled": true,
          "redirectUris": [
            "*"
          ]
        }
      ],
      "attributes": {
        {{- if eq .Values.environment "server" }}
        "frontendUrl": "https://{{ $keycloakHost}}"
        {{- else }}
        "frontendUrl": "http://localhost:8083"
        {{- end }}
      }
    }

