---
{{- $dockerTag := include "loculus.dockerTag" .Values }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-keycloak
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: keycloak
  template:
    metadata:
      labels:
        app: loculus
        component: keycloak
    spec:
     {{- include "possiblePriorityClassName" . | nindent 6 }}
      initContainers:
{{- include "loculus.configProcessor" (dict "name" "keycloak-config" "dockerTag" $dockerTag "imagePullPolicy" .Values.imagePullPolicy) | nindent 8 }}
        - name: keycloak-theme-prep
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          image: "ghcr.io/loculus-project/keycloakify:{{ $dockerTag }}"
          volumeMounts:
            - name: theme-volume
              mountPath: /destination
      containers:
        - name: keycloak
          # TODO #1221
          image: ghcr.io/loculus-project/keycloak@sha256:461bdabba2bd2de667b19b0c1831754cb0f1c6c1d1c85cd35ccfa65335078962
          {{- include "loculus.resources" (list "keycloak" $.Values) | nindent 10 }}
          env:
            - name: REGISTRATION_TERMS_MESSAGE
              value: {{ $.Values.registrationTermsMessage }}
            - name: PROJECT_NAME
              value: {{ $.Values.name }}
            - name: KC_DB
              value: postgres
            - name: KC_DB_URL_HOST
              valueFrom:
                secretKeyRef:
                  name: keycloak-database
                  key: addr
            - name: KC_DB_URL_PORT
              valueFrom:
                secretKeyRef:
                  name: keycloak-database
                  key: port        
            - name: KC_DB_URL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: keycloak-database
                  key: database
            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: keycloak-database
                  key: username
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-database
                  key: password
            - name: KC_BOOTSTRAP_ADMIN_USERNAME # TODO: delete after upgrading keycloak (#3736 )
              value: "admin"
            - name: KC_BOOTSTRAP_ADMIN_PASSWORD # TODO: delete after upgrading keycloak (#3736 )
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: initialAdminPassword
            - name: KEYCLOAK_ADMIN
              value: "admin"
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: initialAdminPassword
            - name: KC_PROXY
              value: "edge"
            - name: PROXY_ADDRESS_FORWARDING
              value: "true"
            - name: KC_HEALTH_ENABLED
              value: "true"
            - name: KC_HOSTNAME_URL
              value: "{{ include "loculus.keycloakUrl" . }}"
            - name: KC_HOSTNAME_ADMIN_URL
              value: "{{ include "loculus.keycloakUrl" . }}"
            - name: KC_FEATURES
              value: "declarative-user-profile"
            # see https://github.com/keycloak/keycloak/blob/77b58275ca06d1cbe430c51db74479a7e1b409b5/quarkus/dist/src/main/content/bin/kc.sh#L95-L150
            - name: KC_RUN_IN_CONTAINER
              value: "true"
            {{- if .Values.runDevelopmentKeycloakDatabase  }}
            - name: LOCULUS_VERSION
              value: {{ $dockerTag }}
            {{- end }}
          args:
            - "start"
            - "--import-realm"
            - "--cache=local"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: keycloak-config-processed
              mountPath: /opt/keycloak/data/import/
            - name: theme-volume
              mountPath: /opt/keycloak/providers/
          startupProbe:
            httpGet:
              path: /health/ready
              port: 8080
            timeoutSeconds: 3
            failureThreshold: 150
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            timeoutSeconds: 3
            periodSeconds: 10
            failureThreshold: 2
      volumes:
{{ include "loculus.configVolume" (dict "name" "keycloak-config") | nindent 8 }}
        - name: theme-volume
          emptyDir: {}
