{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- if .Values.runDevelopmentKeycloakDatabase }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-keycloak-database
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: keycloak-database
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        timestamp: {{ now | quote }}
      labels:
        app: loculus
        component: keycloak-database
    spec:
      containers:
        - name: loculus-keycloak-database
          image: ghcr.io/cloudnative-pg/postgresql@sha256:8e08e8d876545a0ce1cd5aa3c13923181f1d51d419cb618bc52832f4c89fda06
          resources:
            requests:
              memory: "30Mi"
              cpu: 10m
            limits:
              memory: "100Mi"
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "unsecure"
            - name: POSTGRES_DB
              value: "keycloak"
            - name: POSTGRES_HOST_AUTH_METHOD
              value: "trust"
            {{ if not .Values.developmentDatabasePersistence }}
            - name: LOCULUS_VERSION
              value: {{ $dockerTag }}
            {{- end }}
{{- end }}
