{{- range $key, $_ := $.Values.organisms }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lapis-silo-shared-data-{{ $key }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{{- end }}