{{- if not .Values.useSequlus }}
{{- $dockerTag := include "loculus.dockerTag" .Values }}

{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
{{- $organismContent := $item.contents }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-lapis-{{ $key }}
  annotations:
spec:
  replicas: {{ $.Values.replicas.lapis | default 1 }}
  selector:
    matchLabels:
      app: loculus
      component: lapis-{{ $key }}
  template:
    metadata:
      annotations:
        timestamp: {{ now | quote }}
      labels:
        app: loculus
        component: lapis-{{ $key }}
    spec:
      {{- include "possiblePriorityClassName" $ | nindent 6 }}
      initContainers:
        {{- include "loculus.configProcessor" (dict "name" "lapis-silo-database-config" "dockerTag" $dockerTag "imagePullPolicy" $.Values.imagePullPolicy) | nindent 8 }}
      containers:
        - name: lapis
          image: "{{ $.Values.images.lapis.repository }}:{{ $.Values.images.lapis.tag }}"
          imagePullPolicy: "{{ $.Values.images.lapis.pullPolicy | default $.Values.imagePullPolicy }}"
          {{- include "loculus.resources" (list "lapis" $.Values $key) | nindent 10 }}
          ports:
            - containerPort: 8080
          args:
            - "--silo.url=http://loculus-silo-service-{{ $key }}:8081"
          env:
            - name: JVM_OPTS
              value: -XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0 -XX:+UseG1GC -XX:MaxHeapFreeRatio=5 -XX:MinHeapFreeRatio=2 -XX:MaxGCPauseMillis=100
          volumeMounts:
            - name: lapis-silo-database-config-processed
              mountPath: /workspace/database_config.yaml
              subPath: database_config.yaml
            - name: lapis-silo-database-config-processed
              mountPath: /workspace/reference_genomes.json
              subPath: reference_genomes.json
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            periodSeconds: 5
            failureThreshold: 36 # 3 minutes to start
          readinessProbe:
            httpGet:
              path: /sample/info
              port: 8080
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 5
      volumes:
        {{- include "loculus.configVolume" (dict "name" "lapis-silo-database-config" "configmap" (printf "lapis-silo-database-config-%s" $key)) | nindent 8 }}
{{- end }}
{{- end }}
