{{ if not $.Values.usePodStorageForSilo }}
{{- range $key, $_ := (.Values.organisms | default .Values.defaultOrganisms) }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lapis-silo-input-data-cache-{{ $key }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{{- end }}
{{ end }}