{{- $config := $.Values.configYaml }}

{{- range $key, $_ := $config.instances }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lapis-silo-shared-data-{{ $key }}
  namespace: {{ $.Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{{- end }}