{{- $lapisHost := printf "lapis-%s" .Values.host }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lapis-ingress
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: "{{- $first := true }}{{- range $key, $_ := $.Values.instances }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}{{ $.Values.namespace }}-strip-{{ $key }}-prefix@kubernetescrd{{- end }}"
spec:
  rules:
  - host: {{ if eq $.Values.environment "server" }}{{ $lapisHost }}{{ end }}
    http:
      paths:
      {{- range $key, $_ := $.Values.instances }}
      - path: /{{ $key }}/
        pathType: Prefix
        backend:
          service:
            name: {{ template "loculus.lapisServiceName" $key }}
            port:
              number: 8080
        {{- if eq $.Values.environment "server" }}
        pathType: ImplementationSpecific
        {{- end }}
      {{- end }}
  {{- if eq $.Values.environment "server" }}
  tls:
  - hosts:
    - {{ $lapisHost }}
  {{- end }}


{{- range $key, $_ := $.Values.instances }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: strip-{{ $key }}-prefix
spec:
  stripPrefix:
    prefixes:
      - /{{ $key }}/
{{- end }}
