{{- $lapisHost := printf "lapis%s%s" .Values.subdomainSeparator .Values.host }}
{{- $enabledOrganismsResult := (include "loculus.enabledOrganisms" . | fromJson) }}
{{- $enabledOrganismsList := $enabledOrganismsResult.organisms }}
{{- $organismKeys := list -}}
{{- range $_, $item := $enabledOrganismsList -}}
  {{- $organismKeys = append $organismKeys $item.key -}}
{{- end -}}
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: cors-all-origins
spec:
  headers:
    accessControlAllowMethods:
      - "GET"
      - "OPTIONS"
      - "POST"
      - "HEAD"
    accessControlAllowOriginList:
      - "*"
    accessControlMaxAge: 100
    accessControlAllowHeaders:
      - "*"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lapis-ingress
  annotations:
    {{- if $.Values.useSequlus }}
    traefik.ingress.kubernetes.io/router.middlewares: "{{ $.Release.Namespace }}-cors-all-origins@kubernetescrd"
    {{- else }}
    traefik.ingress.kubernetes.io/router.middlewares: "{{ $.Release.Namespace }}-cors-all-origins@kubernetescrd,{{- $first := true }}{{- range $key := $organismKeys }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}{{ $.Release.Namespace }}-strip-{{ $key }}-prefix@kubernetescrd{{- end }}"
    {{- end }}
spec:
  rules:
  - host: {{ if eq $.Values.environment "server" }}{{ $lapisHost }}{{ end }}
    http:
      paths:
      {{- range $key := $organismKeys }}
      - path: /{{ $key }}/
        pathType: {{ ternary "ImplementationSpecific" "Prefix" (eq $.Values.environment "server") }}
        backend:
          service:
            {{- if $.Values.useSequlus }}
            name: loculus-sequlus-service
            port:
              number: 8090
            {{- else }}
            name: {{ template "loculus.lapisServiceName" $key }}
            port:
              number: 8080
            {{- end }}
      {{- end }}
  {{- if eq $.Values.environment "server" }}
  tls:
  - hosts:
    - {{ $lapisHost }}
  {{- end }}

{{- if not $.Values.useSequlus }}
{{- range $key := $organismKeys }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: strip-{{ $key }}-prefix
spec:
  stripPrefix:
    prefixes:
      - /{{ $key }}/
{{- end }}
{{- end }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: redirect-slash
spec:
  redirectRegex:
    regex: ".*"
    replacement: "$0/"
    permanent: true
---
# This ingress is only used to redirect from $LAPIS_URL/$ORGANISM_NAME to $LAPIS_URL/$ORGANISM_NAME/
# We need to do this so we can strip the /$ORGANISM_NAME/ prefix in the main lapis ingress (see #3360)
{{- $redirectMiddlewareList := list -}}
{{- if $.Values.enforceHTTPS -}}
  {{- $redirectMiddlewareList = append $redirectMiddlewareList (printf "%s-redirect-middleware@kubernetescrd" $.Release.Namespace) }}
{{- end }}
{{- $redirectMiddlewareList = append $redirectMiddlewareList (printf "%s-redirect-slash@kubernetescrd" $.Release.Namespace) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lapis-redirect-ingress
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: "{{ join "," $redirectMiddlewareList }}"
    # High priority to ensure this rule is evaluated first
    traefik.ingress.kubernetes.io/router.priority: "500"
spec:
  rules:
  - host: {{ if eq $.Values.environment "server" }}{{ $lapisHost }}{{ end }}
    http:
      paths:
      {{- range $key := $organismKeys }}
      - path: /{{ $key }}
        pathType: Exact
        backend:
          # An Ingress path requires a backend. Since the redirect happens before
          # the request is forwarded, we can point all paths to the first
          # organism's service as a placeholder.
          service:
            {{- if $.Values.useSequlus }}
            name: loculus-sequlus-service
            port:
              number: 8090
            {{- else }}
            name: {{ template "loculus.lapisServiceName" (first $organismKeys) }}
            port:
              number: 8080
            {{- end }}
      {{- end }}
