{{- if not .Values.useSequlus }}
{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "loculus.lapisServiceName" $key }}
spec:
  type: ClusterIP
  selector:
    app: loculus
    component: lapis-{{ $key }}
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
{{- end }}
{{- end }}
