{{- $commonMetadata := (include "loculus.commonMetadata" . | fromYaml).fields }}
{{- $importScriptWrapperLines := .Files.Lines "silo_import_wrapper.sh" }}

{{- range $key, $instance := (include "loculus.enabledOrganisms" . | fromJson) }}

{{- $hasLineageSystem := false }}
{{- if $instance.schema }}
{{- $schema := $instance.schema | include "loculus.patchMetadataSchema" | fromYaml }}
{{- range $entry := $schema.metadata }}
  {{- if hasKey $entry "lineageSystem" }}
    {{- $hasLineageSystem = true }}
  {{- end }}
{{- end }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: lapis-silo-database-config-{{ $key }}
data:
  {{- $args := dict
    "schema" ($instance.schema | include "loculus.patchMetadataSchema" | fromYaml)
    "commonMetadata" $commonMetadata
    "referenceGenomes" $instance.referenceGenomes
  }}
  database_config.yaml: |
    {{ include "loculus.siloDatabaseConfig" $args | nindent 4 }}

  preprocessing_config.yaml: |
    ndjsonInputFilename: data.ndjson.zst
    referenceGenomeFilename: reference_genomes.json
    {{- if $hasLineageSystem }}
    lineageDefinitionsFilename: lineage_definitions.yaml
    {{- end }}

  reference_genomes.json: |
    {{ include "loculus.mergeReferenceGenomes" $instance.referenceGenomes | fromYaml | toJson }}

  silo_import_wrapper.sh: |
    {{ range $importScriptWrapperLines }}
    {{ . }}{{ end }}
{{- end }}
