{{- $lapisHost := printf "lapis%s%s" .Values.subdomainSeparator .Values.host }}
{{- $enabledOrganisms := (include "loculus.enabledOrganisms" . | fromJson) }}
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: cors-all-origins
spec:
  headers:
    accessControlAllowMethods:
      - "GET"
      - "OPTIONS"
      - "POST"
      - "HEAD"
    accessControlAllowOriginList:
      - "*"
    accessControlMaxAge: 100
    accessControlAllowHeaders:
      - "*"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lapis-ingress
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: "{{ $.Release.Namespace }}-cors-all-origins@kubernetescrd,{{- $first := true }}{{- range $organism := $enabledOrganisms }}{{ if $first }}{{ $first = false }}{{ else }},{{ end }}{{ $.Release.Namespace }}-strip-{{ $organism.key }}-prefix@kubernetescrd{{- end }}"
spec:
  rules:
  - host: {{ if eq $.Values.environment "server" }}{{ $lapisHost }}{{ end }}
    http:
      paths:
      {{- range $organism := $enabledOrganisms }}
      - path: /{{ $organism.key }}/
        pathType: {{ ternary "ImplementationSpecific" "Prefix" (eq $.Values.environment "server") }}
        backend:
          service:
            name: {{ template "loculus.lapisServiceName" $organism.key }}
            port:
              number: 8080
      {{- end }}
  {{- if eq $.Values.environment "server" }}
  tls:
  - hosts:
    - {{ $lapisHost }}
  {{- end }}

{{- range $organism := $enabledOrganisms }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: strip-{{ $organism.key }}-prefix
spec:
  stripPrefix:
    prefixes:
      - /{{ $organism.key }}/
{{- end }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: redirect-slash
spec:
  redirectRegex:
    regex: ".*"
    replacement: "$0/"
    permanent: true
---
# This ingress is only used to redirect from $LAPIS_URL/$ORGANISM_NAME to $LAPIS_URL/$ORGANISM_NAME/
# We need to do this so we can strip the /$ORGANISM_NAME/ prefix in the main lapis ingress (see #3360)
{{- $redirectMiddlewareList := list -}}
{{- if $.Values.enforceHTTPS -}}
  {{- $redirectMiddlewareList = append $redirectMiddlewareList (printf "%s-redirect-middleware@kubernetescrd" $.Release.Namespace) }}
{{- end }}
{{- $redirectMiddlewareList = append $redirectMiddlewareList (printf "%s-redirect-slash@kubernetescrd" $.Release.Namespace) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lapis-redirect-ingress
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: "{{ join "," $redirectMiddlewareList }}"
    # High priority to ensure this rule is evaluated first
    traefik.ingress.kubernetes.io/router.priority: "500"
spec:
  rules:
  - host: {{ if eq $.Values.environment "server" }}{{ $lapisHost }}{{ end }}
    http:
      paths:
      {{- range $key := $organismKeys }}
      - path: /{{ $key }}
        pathType: Exact
        backend:
          # An Ingress path requires a backend. Since the redirect happens before
          # the request is forwarded, we can point all paths to the first
          # organism's service as a placeholder.
          service:
            name: {{ template "loculus.lapisServiceName" (first $organismKeys) }}
            port:
              number: 8080
      {{- end }}
