{{- $dockerTag := include "loculus.dockerTag" $.Values }}
{{- $keycloakTokenUrl := "http://loculus-keycloak-service:8083/realms/loculus/protocol/openid-connect/token" }}

{{- range $key, $_ := (.Values.organisms | default .Values.defaultOrganisms) }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-lapis-silo-{{ $key }}
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: lapis-silo-{{ $key }}
  template:
    metadata:
      labels:
        app: loculus
        component: lapis-silo-{{ $key }}
    spec:
      {{- include "possiblePriorityClassName" $ | nindent 6 }}
      initContainers:
        {{- include "loculus.configProcessor" (dict "name" "lapis-silo-database-config" "dockerTag" $dockerTag) | nindent 8 }}
      containers:
        - name: silo
          image: {{ $.Values.images.lapisSilo }}
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "10Gi"
          ports:
            - containerPort: 8081
          args:
            - "--api"
          volumeMounts:
            - name: lapis-silo-shared-data
              mountPath: /data
        - name: lapis
          image: {{ $.Values.images.lapis }}
          resources:
            requests:
              memory: "220Mi"
              cpu: "30m"
            limits:
              memory: "5Gi"
          ports:
            - containerPort: 8080
          args:
            - "--silo.url=http://localhost:8081"
          env:
            - name: JVM_OPTS
              value: -XX:+UseContainerSupport -XX:+UseG1GC -XX:MaxHeapFreeRatio=5 -XX:MinHeapFreeRatio=2 -XX:MaxGCPauseMillis=100
          volumeMounts:
            - name: lapis-silo-database-config-processed
              mountPath: /workspace/database_config.yaml
              subPath: database_config.yaml
            - name: lapis-silo-database-config-processed
              mountPath: /workspace/reference_genomes.json
              subPath: reference_genomes.json
          startupProbe:
            httpGet:
              path: /sample/info
              port: 8080
            periodSeconds: 10
            failureThreshold: 5
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /sample/info
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 2
            timeoutSeconds: 5
        - name: silo-preprocessing
          image: {{ $.Values.images.lapisSilo }}
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "10Gi"
            requests:
              memory: "20Mi"
          command:
            - sh
            - -c
            - |
              apt-get update && apt-get install -y zstd && /silo_import_wrapper.sh
          env:
            - name: BACKEND_BASE_URL
              {{- if $.Values.disableBackend }}
              value: "http://host.k3d.internal:8079/{{ $key }}"
              {{- else }}
              value: "http://loculus-backend-service:8079/{{ $key }}"
              {{- end }}
          volumeMounts:
            - name: lapis-silo-database-config-processed
              mountPath: /preprocessing/input/reference_genomes.json
              subPath: reference_genomes.json
            - name: lapis-silo-database-config-processed
              mountPath: /preprocessing/input/pangolineage_alias.json
              subPath: pangolineage_alias.json
            - name: lapis-silo-database-config-processed
              mountPath: /app/preprocessing_config.yaml
              subPath: preprocessing_config.yaml
            - name: lapis-silo-database-config-processed
              mountPath: /app/database_config.yaml
              subPath: database_config.yaml
            - name: lapis-silo-shared-data
              mountPath: /preprocessing/output
            - name: lapis-silo-input-data-cache
              mountPath: /preprocessing/input
            - name: lapis-silo-database-config-processed
              mountPath: /silo_import_job.sh
              subPath: silo_import_job.sh
            - name: lapis-silo-database-config-processed
              mountPath: /silo_import_wrapper.sh
              subPath: silo_import_wrapper.sh
      volumes:
        {{- include "loculus.configVolume" (dict "name" "lapis-silo-database-config" "configmap" (printf "lapis-silo-database-config-%s" $key)) | nindent 8 }}
        - name: lapis-silo-shared-data
          emptyDir: {}
        - name: lapis-silo-input-data-cache
          emptyDir: {}
{{- end }}
