{{- $config := include "loculus.getConfig" . }}
{{- $commonMetadata := (include "loculus.commonMetadata" . | fromYaml).fields }}
{{- $importScriptLines := .Files.Lines "silo_import_job.sh" }}

{{- range $key, $instance := $config.instances }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: lapis-silo-database-config-{{ $key }}
  namespace: {{ $.Values.namespace }}
data:
  {{- with $instance.schema }}
  database_config.yaml: |
    schema:
      instanceName: {{ .instanceName }}
      opennessLevel: OPEN
      metadata:
      {{- range (concat $commonMetadata .metadata) }}
        - name: {{ .name }}
          type: {{ .type }}
          {{- if .generateIndex }}
          generateIndex: {{ .generateIndex }}
          {{- end }}
      {{- end }}
      primaryKey: accessionVersion
      {{- .silo | toYaml | nindent 6 }}
  {{- end }}

  preprocessing_config.yaml: |
    ndjsonInputFilename: data.ndjson
    pangoLineageDefinitionFilename: pangolineage_alias.json
    referenceGenomeFilename: reference_genomes.json

  reference_genomes.json: |
    {{ $instance.referenceGenomes | toJson }}

  silo_import_job.sh: |
    {{ range $importScriptLines }}
    {{ . }}{{ end }}

  pangolineage_alias.json: "{}"
{{- end }}