{{- $config := $.Values.configYaml | fromYaml }}

{{- range $key, $_ := $config.instances }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-lapis-silo-{{ $key }}
  namespace: {{ $.Values.namespace }}
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: lapis-silo-{{ $key }}
  template:
    metadata:
      labels:
        app: loculus
        component: lapis-silo-{{ $key }}
    spec:
      containers:
        - name: silo
          image: ghcr.io/genspectrum/lapis-silo:latest
          ports:
            - containerPort: 8081
          args:
            - "--api"
          volumeMounts:
            - name: lapis-silo-shared-data
              mountPath: /data
        - name: lapis
          image: ghcr.io/genspectrum/lapis-v2:latest
          ports:
            - containerPort: 8080
          args:
            - "--silo.url=http://localhost:8081"
          volumeMounts:
            - name: lapis-silo-database-config
              mountPath: /workspace/database_config.yaml
              subPath: database_config.yaml
            - name: lapis-silo-database-config
              mountPath: /workspace/reference_genomes.json
              subPath: reference_genomes.json

      volumes:
        - name: lapis-silo-database-config
          configMap:
            name: lapis-silo-database-config-{{ $key }}
        - name: lapis-silo-shared-data
          persistentVolumeClaim:
            claimName: lapis-silo-shared-data-{{ $key }}
{{- end }}