{{- $commonMetadata := (include "loculus.commonMetadata" . | fromYaml).fields }}
{{- $importScriptWrapperLines := .Files.Lines "silo_import_wrapper.sh" }}

{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
{{- $organismContent := $item.contents }}

{{- $lineageSystem := $organismContent | include "loculus.lineageSystemForOrganism" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: lapis-silo-database-config-{{ $key }}
data:
  {{- $args := dict
    "schema" ($organismContent.schema | include "loculus.patchMetadataSchema" | fromYaml)
    "commonMetadata" $commonMetadata
    "referenceGenomes" $organismContent.referenceGenomes
  }}
  database_config.yaml: |
    {{ include "loculus.siloDatabaseConfig" $args | nindent 4 }}

  preprocessing_config.yaml: |
    ndjsonInputFilename: data.ndjson.zst
    referenceGenomeFilename: reference_genomes.json
    {{- if $lineageSystem }}
    lineageDefinitionsFilename: lineage_definitions.yaml
    {{- end }}

  reference_genomes.json: |
{{ include "loculus.mergeReferenceGenomes" $organismContent.referenceGenomes | fromYaml | toPrettyJson | indent 4 }}

  silo_import_wrapper.sh: |
    {{ range $importScriptWrapperLines }}
    {{ . }}{{ end }}
{{- end }}
