{{- if not .Values.disableWebsite }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: loculus-website-pdb
spec:
  maxUnavailable: {{ .Values.pdb.website.maxUnavailable | default 1 }}
  selector:
    matchLabels:
      app: loculus
      component: website
{{- end }}
