{{- range $organism, $organismConfig := (include "loculus.enabledOrganisms" . | fromJson) }}
{{- $metadata := ($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).metadata }}
{{- $referenceGenomes:= include "loculus.mergeReferenceGenomes" $organismConfig.referenceGenomes | fromYaml }}
{{- $flattened := include "loculus.flattenPreprocessingVersions" $organismConfig.preprocessing | fromJson }}
{{- range $processingIndex, $processingConfig := $flattened.items }}
{{- if $processingConfig.configFile }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-preprocessing-config-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
data:
  preprocessing-config.yaml: |
    organism: {{ $organism }}
    {{- $processingConfig.configFile | toYaml | nindent 4 }}
    processing_spec:
      {{- $args := dict "metadata" $metadata "referenceGenomes" $organismConfig.referenceGenomes }}
      {{- include "loculus.preprocessingSpecs" $args | nindent 6 }}
      versionComment:
        function: identity
        inputs:
          input: versionComment
        args:
{{- end }}
{{- end }}
{{- end }}
