{{- range $organism, $organismConfig := (include "loculus.enabledOrganisms" . | fromJson) }}
{{- $metadata := ($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).metadata }}
{{- $rawNucleotideSequences := (($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).nucleotideSequences) }}
{{- $nucleotideSequences := ($rawNucleotideSequences | default "" ) }}
{{- $referenceGenomes:= include "loculus.mergeReferenceGenomes" $organismConfig.referenceGenomes | fromYaml }}
{{- $genesList := (eq $referenceGenomes.genes nil | ternary (list) $referenceGenomes.genes) }}
{{- $genesDict := dict "genes" (list) -}}
{{- range $g := $genesList }}
  {{- $_ := set $genesDict "genes" (append ($genesDict.genes) $g.name) -}}
{{- end }}
{{- $flattened := include "loculus.flattenPreprocessingVersions" $organismConfig.preprocessing | fromJson }}
{{- range $processingIndex, $processingConfig := $flattened.items }}
{{- if $processingConfig.configFile }}
{{- /* Use the enaDepositionConfig as the base config */}}
{{- $enaDepositionConfig := dig "enaDeposition" "configFile" dict $organismConfig }}
{{- $preproAndEnaConfigFile := merge $processingConfig.configFile $enaDepositionConfig }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-preprocessing-config-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
data:
  preprocessing-config.yaml: |
    organism: {{ $organism }}
    {{- $preproAndEnaConfigFile | toYaml | nindent 4 }}
    {{- $genesDict | toYaml | nindent 4 }}
    processing_spec:
      {{- $args := dict "metadata" $metadata "referenceGenomes" $organismConfig.referenceGenomes }}
      {{- include "loculus.preprocessingSpecs" $args | nindent 6 }}
      versionComment:
        function: identity
        inputs:
          input: versionComment
        args:
{{- end }}
{{- end }}
{{- end }}
