{{- if not .Values.externalDatabaseUrl }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: database
  template:
    metadata:
      labels:
        app: loculus
        component: database
    spec:
      containers:
      - name: database
        image: postgres:latest
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "unsecure"
        - name: POSTGRES_DB
          value: "loculus"
{{- end }}