---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-website-config-base
data:
  website_config_base.json: |
{{ include "loculus.generateWebsiteConfigBase" . | fromYaml | toPrettyJson | indent 4 }}
  runtime_config.json: |
    {
        "name" : "{{ $.Values.name }}",
        "insecureCookies": {{ $.Values.insecureCookies }},
        "serverSide": {
            {{- if .Values.usePublicRuntimeConfigAsServerSide }}
            {{- template "loculus.publicRuntimeConfig" . -}}
            {{- else }}
            {{ if $.Values.disableBackend -}}
            "backendUrl": "http://{{ $.Values.localHost }}:8079",
            {{- else -}}
            "backendUrl": "http://loculus-backend-service:8079",
            {{- end }}
            "lapisUrls": {{- include "loculus.generateInternalLapisUrls" . | fromYaml | toJson }},
            "keycloakUrl": "{{ if not .Values.disableWebsite -}}http://loculus-keycloak-service:8083{{ else -}}http://{{ $.Values.localHost }}:8083{{ end }}"
            {{- end }}
        },
        "public": {
          {{- template "loculus.publicRuntimeConfig" . -}}
        },
        "backendKeycloakClientSecret" : "[[backendKeycloakClientSecret]]"
    }
{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
{{- $instance := $item.contents }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-website-config-{{ $key }}
data:
  website_config_organism_{{ $key }}.json: |
    {{ include "loculus.generateWebsiteConfigOrganism" (dict "key" $key "instance" $instance "root" $) | fromYaml | toJson }}
{{- end }}
