{{- range $organism, $organismConfig := (.Values.organisms | default .Values.defaultOrganisms) }}
{{- $metadata := ($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).metadata }}
{{- $nucleotideSequences := (($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).nucleotideSequences | default "" ) }}
{{- $nucleotideSequencesList := ($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).nucleotideSequences | default (list "main")}}
{{- range $processingIndex, $processingConfig := $organismConfig.preprocessing }}
{{- if $processingConfig.configFile }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-preprocessing-config-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
data:
  preprocessing-config.yaml: |
    organism: {{ $organism }}
    {{- $processingConfig.configFile | toYaml | nindent 4 }}
    nucleotideSequences: {{- $nucleotideSequencesList | toYaml | nindent 4 }}
    processing_spec:
      {{- $args := dict "metadata" $metadata "nucleotideSequences" $nucleotideSequences }}
      {{- include "loculus.preprocessingSpecs" $args | nindent 6 }}
      versionComment:
        function: identity
        inputs:
          input: versionComment
        args:
{{- end }}
{{- end }}
{{- end }}