{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- if not .Values.disableBackend }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-backend
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: {{$.Values.replicas.backend}}
  selector:
    matchLabels:
      app: loculus
      component: backend
  template:
    metadata:
      annotations:
        timestamp: {{ now | quote }}
      labels:
        app: loculus
        component: backend
    spec:
      {{- include "possiblePriorityClassName" . | nindent 6 }}
      initContainers:
{{- include "loculus.configProcessor" (dict "name" "loculus-backend-config" "dockerTag" $dockerTag "imagePullPolicy" $.Values.imagePullPolicy) | nindent 8 }}
      containers:
        - name: backend
          image: "{{ $.Values.images.backend.repository }}:{{ $.Values.images.backend.tag | default $dockerTag }}"
          imagePullPolicy: "{{ $.Values.images.backend.pullPolicy | default $.Values.imagePullPolicy }}"
          {{- include "loculus.resources" (list "backend" $.Values) | nindent 10 }}
          startupProbe:
            httpGet:
              path: "/actuator/health/liveness"
              port: 8079
            periodSeconds: 5
            failureThreshold: 360 # 30 minutes to start
          livenessProbe:
            httpGet:
              path: "/actuator/health/liveness"
              port: 8079
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: "/actuator/health/readiness"
              port: 8079
          ports:
            - containerPort: 8079
          args:
            - "--loculus.enable-seqsets={{ $.Values.seqSets.enabled }}"
            {{- if $.Values.seqSets.crossRef }}
            - "--crossref.doi-prefix=$(CROSSREF_DOI_PREFIX)"
            - "--crossref.endpoint=$(CROSSREF_ENDPOINT)"
            - "--crossref.username=$(CROSSREF_USERNAME)"
            - "--crossref.password=$(CROSSREF_PASSWORD)"
            - "--crossref.database-name=$(CROSSREF_DATABASE_NAME)"
            - "--crossref.email=$(CROSSREF_EMAIL)"
            - "--crossref.organization=$(CROSSREF_ORGANIZATION)"
            - "--crossref.host-url=$(CROSSREF_HOST_URL)"
            {{- end }}
            - "--keycloak.password=$(BACKEND_KEYCLOAK_PASSWORD)"
            - "--keycloak.realm=loculus"
            - "--keycloak.client=backend-client"
            - "--keycloak.url=http://loculus-keycloak-service:8083"
            - "--keycloak.user=backend"
            - "--spring.datasource.password=$(DB_PASSWORD)"
            - "--spring.datasource.url=$(DB_URL)"
            - "--spring.datasource.username=$(DB_USERNAME)"
            - "--spring.security.oauth2.resourceserver.jwt.jwk-set-uri=http://loculus-keycloak-service:8083/realms/loculus/protocol/openid-connect/certs"
            - "--loculus.cleanup.task.reset-stale-in-processing-after-seconds={{- .Values.preprocessingTimeout | default 120 }}"
            - "--loculus.pipeline-version-upgrade-check.interval-seconds={{- .Values.pipelineVersionUpgradeCheckIntervalSeconds | default 10 }}"
            - "--loculus.s3.enabled=$(S3_ENABLED)"
            {{- if $.Values.s3.enabled }}
            - "--loculus.s3.bucket.endpoint=$(S3_BUCKET_ENDPOINT)"
            - "--loculus.s3.bucket.internal-endpoint=$(S3_BUCKET_INTERNAL_ENDPOINT)"
            - "--loculus.s3.bucket.region=$(S3_BUCKET_REGION)"
            - "--loculus.s3.bucket.bucket=$(S3_BUCKET_BUCKET)"
            - "--loculus.s3.bucket.access-key=$(S3_BUCKET_ACCESS_KEY)"
            - "--loculus.s3.bucket.secret-key=$(S3_BUCKET_SECRET_KEY)"
            {{- end }}
            {{- if .Values.backendExtraArgs }}
              {{- .Values.backendExtraArgs | toYaml | nindent 12 }}
            {{- end }}
          env:
            - name: JVM_OPTS
              value: -XX:+UseContainerSupport -XX:+UseG1GC -XX:MaxHeapFreeRatio=5 -XX:MinHeapFreeRatio=2
          {{- if $.Values.seqSets.crossRef }}
            - name: CROSSREF_USERNAME
              valueFrom:
               secretKeyRef:
                 name: crossref
                 key: username
            - name: CROSSREF_PASSWORD
              valueFrom:
               secretKeyRef:
                 name: crossref
                 key: password
            - name: CROSSREF_DOI_PREFIX
              value: {{$.Values.seqSets.crossRef.DOIPrefix | quote }}
            - name: CROSSREF_ENDPOINT
              value: {{$.Values.seqSets.crossRef.endpoint | quote  }}
            - name: CROSSREF_DATABASE_NAME
              value: {{$.Values.seqSets.crossRef.databaseName | quote }}
            - name: CROSSREF_EMAIL
              value: {{$.Values.seqSets.crossRef.email | quote }}
            - name: CROSSREF_ORGANIZATION
              value: {{$.Values.seqSets.crossRef.organization | quote }}
            - name: CROSSREF_HOST_URL
              value: {{$.Values.seqSets.crossRef.hostUrl | quote }}
           {{- end }}
            - name: BACKEND_KEYCLOAK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: service-accounts
                  key: backendUserPassword
            - name: DB_URL
              valueFrom:
               secretKeyRef:
                 name: database
                 key: url
            - name: DB_USERNAME
              valueFrom:
               secretKeyRef:
                 name: database
                 key: username
            - name: DB_PASSWORD
              valueFrom:
               secretKeyRef:
                 name: database
                 key: password
            - name: S3_ENABLED
              value: {{$.Values.s3.enabled | quote }}
            {{- if $.Values.s3.enabled }}
            - name: S3_BUCKET_ENDPOINT
              value: {{ include "loculus.s3Url" . | quote }}
            - name: S3_BUCKET_INTERNAL_ENDPOINT
              value: {{ include "loculus.s3UrlInternal" . | quote }}
            - name: S3_BUCKET_REGION
              value: {{$.Values.s3.bucket.region | quote }}
            - name: S3_BUCKET_BUCKET
              value: {{$.Values.s3.bucket.bucket | quote }}
            - name: S3_BUCKET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-bucket
                  key: accessKey
            - name: S3_BUCKET_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-bucket
                  key: secretKey
            {{- end }}
          volumeMounts:
            - name: loculus-backend-config-processed
              mountPath: /config
      volumes:
        {{- $backendConfigmaps := list "loculus-backend-config-base" }}
        {{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
        {{- $backendConfigmaps = append $backendConfigmaps (printf "loculus-backend-config-%s" $item.key) }}
        {{- end }}
{{ include "loculus.configVolume" (dict "name" "loculus-backend-config" "configmaps" $backendConfigmaps) | nindent 8 }}
{{- end }}