{{- range $organism, $organismConfig := (include "loculus.enabledOrganisms" . | fromJson) }}
{{- $metadata := ($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).metadata }}
{{- $rawNucleotideSequences := (($organismConfig.schema | include "loculus.patchMetadataSchema" | fromYaml).nucleotideSequences) }}
{{- $nucleotideSequences := ($rawNucleotideSequences | default "" ) }}
{{- $nucleotideSequencesList := (eq $rawNucleotideSequences nil | ternary (list "main") $rawNucleotideSequences) }}
{{- $flattened := include "loculus.flattenPreprocessingVersions" $organismConfig.preprocessing | fromJson }}
{{- range $processingIndex, $processingConfig := $flattened.items }}
{{- if $processingConfig.configFile }}
{{- /* Use the enaDepositionConfig as the base config */}}
{{- $enaDepositionConfig := dig "enaDeposition" "configFile" dict $organismConfig }}
{{- $preproAndEnaConfigFile := merge $processingConfig.configFile $enaDepositionConfig }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-preprocessing-config-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
data:
  preprocessing-config.yaml: |
    organism: {{ $organism }}
    {{- $preproAndEnaConfigFile | toYaml | nindent 4 }}
    {{- (dict "nucleotideSequences" $nucleotideSequencesList) | toYaml | nindent 4 }}
    processing_spec:
      {{- $args := dict "metadata" $metadata "nucleotideSequences" $nucleotideSequences }}
      {{- include "loculus.preprocessingSpecs" $args | nindent 6 }}
      versionComment:
        function: identity
        inputs:
          input: versionComment
        args:
{{- end }}
{{- end }}
{{- end }}
