apiVersion: v1
kind: Service
metadata:
  name: loculus-database-service
spec:
  {{- if not .Values.externalDatabaseUrl }}
  {{- template "loculus.serviceType"}}
  selector:
    app: loculus
    component: website-and-backend
  ports:
    - port: 5432
      targetPort: 5432
      {{- if ne .Values.environment "server" }}
      nodePort: 30432
      {{- end }}
      protocol: TCP
      name: http
  {{- end }}
