{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- if not .Values.disableWebsite }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-website
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: {{$.Values.replicas.website}}
  selector:
    matchLabels:
      app: loculus
      component: website
  template:
    metadata:
      annotations:
        timestamp: {{ now | quote }}
      labels:
        app: loculus
        component: website
    spec:
      {{- include "possiblePriorityClassName" . | nindent 6 }}
      initContainers:
{{- include "loculus.configProcessor" (dict "name" "loculus-website-config" "dockerTag" $dockerTag "imagePullPolicy" $.Values.imagePullPolicy) | nindent 8 }}
      containers:
        - name: website
          image: "{{ $.Values.images.website.repository }}:{{ $.Values.images.website.tag | default $dockerTag }}"
          imagePullPolicy: "{{ $.Values.images.website.pullPolicy | default $.Values.imagePullPolicy }}"
          {{- include "loculus.resources" (list "website" .Values) | nindent 10 }}
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: loculus-website-config-processed
              mountPath: /config
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
      imagePullSecrets:
        - name: custom-website-sealed-secret
      volumes:
        {{- $websiteConfigmaps := list "loculus-website-config-base" }}
        {{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
        {{- $websiteConfigmaps = append $websiteConfigmaps (printf "loculus-website-config-%s" $item.key) }}
        {{- end }}
{{ include "loculus.configVolume" (dict "name" "loculus-website-config" "configmaps" $websiteConfigmaps) | nindent 8 }}
{{- end }}