{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- if .Values.runDevelopmentMainDatabase }}
{{- if .Values.developmentDatabasePersistence }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loculus-database-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-database
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: database
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: loculus
        component: database
    spec:
      containers:
      - name: database
        image: postgres:15.12
        args:
          - "-c"
          - "shared_preload_libraries=pg_stat_statements"
          - "-c"
          - "pg_stat_statements.track=all"
        resources:
          requests:
            memory: "200Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "unsecure"
        - name: POSTGRES_DB
          value: "loculus"
        - name: POSTGRES_HOST_AUTH_METHOD
          value: "trust"
        {{ if not .Values.developmentDatabasePersistence }}
        - name: LOCULUS_VERSION
          value: {{ $dockerTag }}
        {{- end }}
        - name: PGDATA
          value: "/var/lib/postgresql/data/pgdata"
        volumeMounts:
        - name: init-scripts
          mountPath: /docker-entrypoint-initdb.d
        {{- if .Values.developmentDatabasePersistence }}
        - name: database-data
          mountPath: /var/lib/postgresql/data
        {{- end }}
      volumes:
      - name: init-scripts
        configMap:
          name: loculus-database-init
      {{- if .Values.developmentDatabasePersistence }}
      - name: database-data
        persistentVolumeClaim:
          claimName: loculus-database-data
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-database-init
data:
  init-pg-stat.sql: |
    CREATE EXTENSION IF NOT EXISTS pg_stat_statements;
{{- end }}
