{{- $keycloakHost := printf "authentication.%s" .Values.host }}
{{- $config := $.Values.configYaml | fromYaml }}
{{- $lapisHost := (
  eq .Values.environment "server" | ternary
    (printf "https://lapis.%s" .Values.host)
    "http://localhost:8080"
) }}
{{- $externalLapisUrlConfig := dict
  "host" $lapisHost
  "config" $config
}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-website-config
  namespace: {{ .Values.namespace }}
data:
  website_config.json: |
    {{ $config | include "loculus.generateWebsiteConfig" | fromYaml | toJson }}

  runtime_config.json: |
    {
        "serverSide": {
            {{- if .Values.disableBackend }}
            "backendUrl": "http://host.k3d.internal:8079",
            {{- else }}
            "backendUrl": "http://localhost:8079",
            {{- end }}
            "lapisUrls": {{- include "loculus.generateInternalLapisUrls" $config | fromYaml | toJson }},
            "keycloakUrl": "http://loculus-keycloak-service:8083"
        },
        "public": {
            {{- if eq .Values.environment "server" }}
            "backendUrl": "https://{{ printf "backend.%s" .Values.host }}",
             {{- else }}
            "backendUrl": "http://localhost:8079",
              {{- end }}
            "lapisUrls": {{- include "loculus.generateExternalLapisUrls" $externalLapisUrlConfig | fromYaml | toJson }}
        }
    }
