{{- if not .Values.disableBackend }}
apiVersion: v1
kind: Service
metadata:
  name: loculus-backend-service
spec:
  {{- template "loculus.serviceType" . }}
  selector:
    app: loculus
    component: backend
  ports:
    - port: 8079
      targetPort: 8079
      {{- if ne $.Values.environment "server" }}
      nodePort: 30082
      {{- end }}
      protocol: TCP
      name: http
{{- end }}
