{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{ $backendHost := .Values.disableBackend | ternary
    "http://host.k3d.internal:8079"
    "http://loculus-backend-service:8079"
}}
{{- $organismcloakHost := $.Values.environment | eq "server" | ternary
    (printf "https://authentication%s%s" $.Values.subdomainSeparator $.Values.host)
    "http://loculus-keycloak-service:8083"
}}
{{- if not .Values.disablePreprocessing }}
{{- range $organism, $organismConfig := (.Values.organisms | default .Values.defaultOrganisms) }}
{{- range $processingIndex, $processingConfig := $organismConfig.preprocessing }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-preprocessing-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: loculus-preprocessing-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
  template:
    metadata:
      labels:
        app: loculus
        component: loculus-preprocessing-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
    spec:
      containers:
        - name: preprocessing-{{ $organism }}
          image: {{ $processingConfig.image}}:{{ $dockerTag }}
          imagePullPolicy: Always
          resources:
            requests:
              memory: "20Mi"
              {{ include "loculus.standardCPURequest" $ }}
            limits:
              memory: "3Gi"
          env:
            - name: KEYCLOAK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: service-accounts
                  key: preprocessingPipelinePassword
          args:
            {{- range $arg := $processingConfig.args }}
            - "{{ $arg }}"
            {{- end }}
            - "--backend-host={{ $backendHost }}/{{ $organism }}"
            - "--keycloak-host={{ $organismcloakHost }}"
            - "--pipeline-version={{ $processingConfig.version }}"
            - "--keycloak-password=$(KEYCLOAK_PASSWORD)"
      {{- if $processingConfig.configFile }}
            - "--config=/etc/config/preprocessing-config.yaml"
          volumeMounts:
            - name: preprocessing-config-volume-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
              mountPath: /etc/config
      volumes:
        - name: preprocessing-config-volume-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
          configMap:
            name: loculus-preprocessing-config-{{ $organism }}-v{{ $processingConfig.version }}-{{ $processingIndex }}
      {{- end }}
{{- end }}
{{- end }}
{{- end }}
