{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{ $backendHost := .Values.disableBackend | ternary
    "http://host.k3d.internal:8079"
    "http://loculus-backend-service:8079"
}}
{{- $keycloakHost := printf "authentication.%s" .Values.host }}

{{- if not .Values.disablePreprocessing }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-preprocessing
  namespace: {{ .Values.namespace }}
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: loculus-preprocessing
  template:
    metadata:
      labels:
        app: loculus
        component: loculus-preprocessing
    spec:
      containers:
        {{- range $key, $_ := $.Values.instances }}
        - name: preprocessing-{{ $key }}
          image: ghcr.io/loculus-project/preprocessing-nextclade:{{ $dockerTag }}
          imagePullPolicy: Always
          args:
            - "python"
            - "main.py"
            - "--backend-host={{ $backendHost }}"
            - "--organism={{ $key }}"
            - "--config-file=config.yaml"
            {{- if eq $.Values.environment "server" }}
            - "--keycloak-host=https://{{ $keycloakHost}}"
            {{- else }}
            - "--keycloak-host=http://loculus-keycloak-service:8083"
            {{- end }}
        {{- end }}
      imagePullSecrets:
        - name: ghcr-secret
{{- end }}
