{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- if .Values.runDevelopmentMainDatabase }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-database
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: database
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: loculus
        component: database
    spec:
      containers:
      - name: database
        image: ghcr.io/cloudnative-pg/postgresql@sha256:8e08e8d876545a0ce1cd5aa3c13923181f1d51d419cb618bc52832f4c89fda06
        args:
          - "-c"
          - "shared_preload_libraries=pg_stat_statements"
          - "-c"
          - "pg_stat_statements.track=all"
        resources:
          requests:
            memory: "200Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "unsecure"
        - name: POSTGRES_DB
          value: "loculus"
        - name: POSTGRES_HOST_AUTH_METHOD
          value: "trust"
        {{ if not .Values.developmentDatabasePersistence }}
        - name: LOCULUS_VERSION
          value: {{ $dockerTag }}
        {{- end }}
        volumeMounts:
        - name: init-scripts
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: init-scripts
        configMap:
          name: loculus-database-init
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loculus-database-init
data:
  init-pg-stat.sql: |
    CREATE EXTENSION IF NOT EXISTS pg_stat_statements;
{{- end }}
