{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- if not .Values.disableIngest }}
{{- range $key, $value := (.Values.organisms | default .Values.defaultOrganisms) }}
{{- if $value.ingest }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-ingest-{{ $key }}
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: loculus-ingest-{{ $key }}
  template:
    metadata:
      labels:
        app: loculus
        component: loculus-ingest-{{ $key }}
    spec:
      containers:
        - name: ingest-{{ $key }}
          image: {{ $value.ingest.image}}:{{ $dockerTag }}
          imagePullPolicy: Always
          env:
            KEYCLOAK_INGEST_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: service-accounts
                  key: insdcIngestUserPassword
          args:
            {{- range $arg := $value.ingest.args }}
            - "{{ $arg }}"
            {{- end }}
      {{- if $value.ingest.configFile }}
          volumeMounts:
            - name: loculus-ingest-config-volume-{{ $key }}
              mountPath: /package/config
      volumes:
        - name: loculus-ingest-config-volume-{{ $key }}
          configMap:
            name: loculus-ingest-config-{{ $key }}
      {{- end }}
{{- end }}
{{- end }}
{{- end }}