{{- range $name, $secret := .Values.secrets }}
---
{{- if eq $secret.type "sealedsecret" }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret

metadata:
  name: {{ $name }}
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: {{ $secret.clusterWide | default "false" }}
spec:
  encryptedData:
    {{- range $key, $value := .data }}
    {{ $key }}: {{ $value }}
    {{- end }}
{{- else if eq $secret.type "autogen" }}
apiVersion: "secretgenerator.mittwald.de/v1alpha1"
kind: "StringSecret"
metadata:
  name: {{ $name }}
spec:
  fields:
    {{- range $key, $value := $secret.data }}
    - fieldName: {{ $key }}
      encoding: "hex"
      length: "18"
    {{- end }}
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
data:
  {{- range $key, $value := $secret.data }}
  {{ $key }}: {{ $value | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
