{{- if not .Values.useSequlus }}
{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
---
apiVersion: v1
kind: Service
metadata:
  name: loculus-silo-service-{{ $key }}
spec:
  type: ClusterIP
  selector:
    app: loculus
    component: silo-{{ $key }}
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
{{- end }}
{{- end }}