{{- $dockerTag := include "loculus.dockerTag" .Values }}
{{- $keycloakTokenUrl := "http://loculus-keycloak-service:8083/realms/loculus/protocol/openid-connect/token" }}

{{- range $_, $item := (include "loculus.enabledOrganisms" . | fromJson).organisms }}
{{- $key := $item.key }}
{{- $organismContent := $item.contents }}
{{- $lineageSystem := $organismContent | include "loculus.lineageSystemForOrganism" }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loculus-silo-{{ $key }}
  annotations:
    # Force replace when run a) with dev db and b) without persistence to ensure silo prepro fails loudly
    argocd.argoproj.io/sync-options: Replace=true{{ if (and (not $.Values.developmentDatabasePersistence) $.Values.runDevelopmentMainDatabase) }},Force=true{{ end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loculus
      component: silo-{{ $key }}
  template:
    metadata:
      annotations:
        timestamp: {{ now | quote }}
      labels:
        app: loculus
        component: silo-{{ $key }}
    spec:
      {{- include "possiblePriorityClassName" $ | nindent 6 }}
      initContainers:
        {{- include "loculus.configProcessor" (dict "name" "lapis-silo-database-config" "dockerTag" $dockerTag "imagePullPolicy" $.Values.imagePullPolicy) | nindent 8 }}
        - name: download-silo
          image: "{{ $.Values.silo.baseImage }}"
          imagePullPolicy: {{ $.Values.imagePullPolicy }}
          command:
            - sh
            - -c
            - |
              apt-get update && apt-get install -y curl gzip
              curl -sL "{{ $.Values.silo.binaryUrl }}" | gunzip > /silo-bin/silo
              chmod +x /silo-bin/silo
          volumeMounts:
            - name: silo-binary
              mountPath: /silo-bin
      containers:
        - name: silo
          image: "{{ $.Values.silo.baseImage }}"
          command: ["/silo-bin/silo"]
          imagePullPolicy: {{ $.Values.imagePullPolicy }}
          {{- include "loculus.resources" (list "silo" $.Values $key) | nindent 10 }}
          env:
            - name: SPDLOG_LEVEL
              value: "debug"
            - name: SILO_DATA_DIRECTORY
              value: "/data/"
          ports:
            - containerPort: 8081
          args:
            - "api"
            - "--api-threads-for-http-connections"
            - {{ default 16 (($.Values.silo).apiThreadsForHttpConnections) | quote }}
            - "--api-max-queued-http-connections"
            - "1000"
            - "--query-materialization-cutoff"
            - "3276"
          volumeMounts:
            - name: lapis-silo-shared-data
              mountPath: /data
            - name: silo-binary
              mountPath: /silo-bin
          readinessProbe:
            httpGet:
              path: /info
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 5
        - name: silo-importer
          image: "{{ $.Values.images.siloImporter.repository }}:{{ $.Values.images.siloImporter.tag | default $dockerTag }}"
          imagePullPolicy: "{{ $.Values.images.siloImporter.pullPolicy }}"
          {{- include "loculus.resources" (list "silo-importer" $.Values) | nindent 10 }}
          env:
            - name: BACKEND_BASE_URL
              {{- if $.Values.disableBackend }}
              value: "http://host.k3d.internal:8079/{{ $key }}"
              {{- else }}
              value: "http://loculus-backend-service:8079/{{ $key }}"
              {{- end }}
            {{- if $lineageSystem }}
            - name: LINEAGE_DEFINITIONS
              value: {{ index $.Values.lineageSystemDefinitions $lineageSystem | toJson | quote }}
            {{- end }}
            - name: SILO_RUN_TIMEOUT_SECONDS
              value: {{ $.Values.siloImport.siloTimeoutSeconds | quote }}
            - name: HARD_REFRESH_INTERVAL
              value: {{ $.Values.siloImport.hardRefreshIntervalSeconds | quote }}
            - name: SILO_IMPORT_POLL_INTERVAL_SECONDS
              value: {{ $.Values.siloImport.pollIntervalSeconds | quote }}
          volumeMounts:
            - name: lapis-silo-database-config-processed
              mountPath: /preprocessing/input/reference_genomes.json
              subPath: reference_genomes.json
            - name: lapis-silo-database-config-processed
              mountPath: /preprocessing/input/database_config.yaml
              subPath: silo_database_config.yaml
            - name: lapis-silo-database-config-processed
              mountPath: /app/preprocessing_config.yaml
              subPath: preprocessing_config.yaml
            - name: lapis-silo-shared-data
              mountPath: /preprocessing/output
            - name: lapis-silo-input-data-cache
              mountPath: /preprocessing/input
        - name: silo-preprocessing
          image: "{{ $.Values.silo.baseImage }}"
          imagePullPolicy: {{ $.Values.imagePullPolicy }}
          {{- include "loculus.resources" (list "silo-preprocessing" $.Values) | nindent 10 }}
          command:
            - sh
            - -c
            - sh /silo_import_wrapper.sh
          env:
            - name: PATH_TO_SILO_BINARY
              value: "/silo-bin/silo"
            - name: SILO_PREPROCESSING_CONFIG
              value: "/app/preprocessing_config.yaml"
            - name: BACKEND_BASE_URL
              {{- if $.Values.disableBackend }}
              value: "http://host.k3d.internal:8079/{{ $key }}"
              {{- else }}
              value: "http://loculus-backend-service:8079/{{ $key }}"
              {{- end }}
            {{- if $lineageSystem }}
            - name: LINEAGE_DEFINITIONS
              value: {{ index $.Values.lineageSystemDefinitions $lineageSystem | toJson | quote }}
            {{- end }}
          volumeMounts:
            - name: lapis-silo-database-config-processed
              mountPath: /preprocessing/input/reference_genomes.json
              subPath: reference_genomes.json
            - name: lapis-silo-database-config-processed
              mountPath: /preprocessing/input/database_config.yaml
              subPath: silo_database_config.yaml
            - name: lapis-silo-database-config-processed
              mountPath: /app/preprocessing_config.yaml
              subPath: preprocessing_config.yaml
            - name: lapis-silo-shared-data
              mountPath: /preprocessing/output
            - name: lapis-silo-input-data-cache
              mountPath: /preprocessing/input
            - name: lapis-silo-database-config-processed
              mountPath: /silo_import_wrapper.sh
              subPath: silo_import_wrapper.sh
            - name: silo-binary
              mountPath: /silo-bin
      volumes:
        - name: silo-binary
          emptyDir: {}
        {{- include "loculus.configVolume" (dict "name" "lapis-silo-database-config" "configmap" (printf "lapis-silo-database-config-%s" $key)) | nindent 8 }}
        - name: lapis-silo-shared-data
          emptyDir: {}
        - name: lapis-silo-input-data-cache
          emptyDir: {}
{{- end }}
