{{- if not .Values.disableWebsite }}
apiVersion: v1
kind: Service
metadata:
  name: loculus-website-service
spec:
  {{- template "loculus.serviceType" .}}
  selector:
    app: loculus
    component: website
  ports:
    - port: 3000
      targetPort: 3000
      {{- if ne $.Values.environment "server" }}
      nodePort: 30081
      {{- end }}
      protocol: TCP
      name: http
{{- end }}
