<configuration>

    <property name="PATTERN" value="%date %level [%thread] [%X{organism}] - %class:  %replace(%message){'Bearer [^ ]*':'Bearer ***'}%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN}</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="Exposed" level="warn" />

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>

</configuration>
