name: loculus-ena-submission
channels:
  - conda-forge
  - bioconda
  - nodefaults
dependencies:
  # Core Python dependencies
  - python=3.12.9  # Pinned to 3.12.x series, check for patch updates within 3.12
  - pip=25.2
  - uv=0.9.5
  # Extra dependencies
  - beautifulsoup4=4.14.2
  - click=8.3.0
  - ena-webin-cli=9.0.1=hdfd78af_1
  - fastapi=0.119.1
  - pydantic=2.12.3
  - jsonlines=4.0.0
  - PyYAML=6.0.3
  - requests=2.32.5
  - unzip=6.0
  - psycopg2=2.9.10
  - slack_sdk=3.37.0
  - xmltodict=1.0.2
  - biopython=1.85
  - pytz=2025.2
  - ruff=0.14.2 # if changing update .pre-commit-config.yaml as well
  - tenacity=9.1.2
  - types-pytz=2025.2.0.20250809
  - types-psycopg2=2.9.21.20251012
  - types-requests=2.32.4.20250913
  - types-PyYAML=6.0.12.20250915
  - types-xmltodict=1.0.1.20250920
  - python-dotenv=1.2.1
  - pytest=8.4.2
  - unidecode=1.3.8
<<<<<<< HEAD
  - tqdm
=======
  - orjson
>>>>>>> origin/main
  - orjsonl
  - zstandard
  - deepdiff
