name: loculus-ena-submission
channels:
  - conda-forge
  - bioconda
  - nodefaults
dependencies:
  # Core Python dependencies
  - python =3.12
  - pip >=24
  # Extra dependencies
  - beautifulsoup4
  - click
  - ena-webin-cli =8.2.0
  - fastapi
  - pydantic
  - jsonlines
  - PyYAML
  - requests
  - unzip
  - psycopg2
  - slack_sdk
  - xmltodict
  - biopython
  - pytz
  - tenacity
  - types-pytz
  - types-psycopg2
  - types-requests
  - types-PyYAML
  - types-xmltodict
  - pydantic
  - python-dotenv
  - pytest
  - unidecode
