name: loculus-ena-submission
channels:
  - conda-forge
  - bioconda
  - nodefaults
dependencies:
  # Core Python dependencies
  - python =3.12
  - pip >=24
  # Extra dependencies
  - beautifulsoup4
  - click
  - ena-webin-cli=9.0.1=hdfd78af_1
  - fastapi
  - pydantic
  - jsonlines
  - PyYAML
  - requests
  - unzip
  - psycopg2
  - slack_sdk
  - xmltodict
  - biopython
  - pytz
  - ruff =0.13.1. # if changing update .pre-commit-config.yaml as well
  - tenacity
  - types-pytz
  - types-psycopg2
  - types-requests
  - types-PyYAML
  - types-xmltodict
  - pydantic
  - python-dotenv
  - pytest
  - unidecode
