---
import { getAuthUrl } from '../../middleware/authMiddleware';
import IcOutlineLogin from '~icons/ic/outline-login';

const loginUrl = getAuthUrl(Astro.url.toString());

interface Props {
    message?: string;
}

let { message } = Astro.props;
if (message === undefined) {
    message = 'You need to login to access this page.';
}
---

<div class='mt-6 alert max-w-4xl mx-auto'>
    <IcOutlineLogin className='w-12 h-12 inline-block mr-2' />
    <div>
        <p>{message}</p>
        <a href={loginUrl} class='btn mt-3 bg-white hover:bg-gray-50'>Log in</a>
        <p class='mt-3'></p>
    </div>
</div>
