---
import { buttonClasses } from './buttonStyles';
import { getAuthUrl } from '../../utils/getAuthUrl';
import IcOutlineLogin from '~icons/ic/outline-login';

const loginUrl = await getAuthUrl(Astro.url.toString(), Astro);

interface Props {
    message?: string;
}

let { message } = Astro.props;
if (message === undefined) {
    message = 'You need to log in to access this page.';
}
---

<div class='mt-6 message max-w-4xl mx-auto'>
    <IcOutlineLogin className='w-12 h-12 inline-block mr-2' />
    <div>
        <p>{message}</p>
        <a href={loginUrl} class={buttonClasses({ variant: 'unstyled', className: 'mt-3 bg-white hover:bg-gray-50' })}
            >Login or register</a
        >
        <p class='mt-1'></p>
    </div>
</div>
