---
import { getAuthUrl } from '../../utils/getAuthUrl';
import IcOutlineLogin from '~icons/ic/outline-login';

const loginUrl = await getAuthUrl(Astro.url.toString());

interface Props {
    message?: string;
}

let { message } = Astro.props;
if (message === undefined) {
    message = 'You need to log in to access this page.';
}
console.log('NeedToLogin/loginUrl', loginUrl)
---

<div class='mt-6 message max-w-4xl mx-auto'>
    <b>--> {loginUrl}</b>
    <IcOutlineLogin className='w-12 h-12 inline-block mr-2' />
    <div>
        <p>{message}</p>
        <a href={loginUrl} class='btn mt-3 bg-white hover:bg-gray-50'>Login or register</a>
        <p class='mt-1'></p>
    </div>
</div>
