---
const websiteName = Astro.props.websiteName;
---

<p class='my-4'>
    Welcome to {websiteName} (pathogen-tinder), a matchmaking software for researchers to find others who have genomes similar
    to theirs. It is a project started during the <a href='https://github.com/microbio-hackathon-2024/'
        >Microbiome Bioinformatics Hackathon 2024</a
    >. You can find more information in our <a href='https://github.com/microbio-hackathon-2024/pathinder-client'
        >GitHub repository</a
    >.
</p>

<h2 class='font-semibold my-3 text-lg'>Explore {websiteName} data!</h2>
