---
const websiteName = Astro.props.websiteName;
---

<p class=' my-4'>
    Welcome to {websiteName}, a system for sharing pathogen genome data.
</p>

<h2 class='font-semibold my-3 text-lg'>Explore {websiteName} data!</h2>
