---
interface Props {
    websiteName: string;
    welcomeMessageHTML: string | null | undefined;
}

const { websiteName, welcomeMessageHTML } = Astro.props;
---

{
    welcomeMessageHTML !== null && welcomeMessageHTML !== undefined ? (
        <Fragment set:html={welcomeMessageHTML} />
    ) : (
        <>
            <div class='my-4 flex items-center justify-between gap-4'>
                <div>
                    <h2 class='font-semibold my-3 text-lg'>
                        Welcome to {websiteName}!
                    </h2>
                    <p class='text-gray-600'>
                        {websiteName} is a system for sharing pathogen genome data.
                    </p>
                </div>

                <a
                    href='/search'
                    class='px-4 py-2 loculusColor text-white rounded-sm text-sm font-medium hover:opacity-90 whitespace-nowrap'
                >
                    Browse all organisms
                </a>
            </div>

            <h2 class='font-semibold my-3 text-lg'>
                Browse highlighted organisms in {websiteName}!
            </h2>
        </>
    )
}
