---
interface Props {
    websiteName: string;
    welcomeMessageHTML: string | null | undefined;
}

const { websiteName, welcomeMessageHTML } = Astro.props;
---

{
    welcomeMessageHTML !== null && welcomeMessageHTML !== undefined ? (
        <Fragment set:html={welcomeMessageHTML} />
    ) : (
        <>
            <p class='my-4'>Welcome to {websiteName}, a system for sharing pathogen genome data.</p>

            <h2 class='font-semibold my-3 text-lg'>Explore {websiteName} data!</h2>
        </>
    )
}
