---
import { RevisionForm } from '../../components/Revision/RevisionForm';
import { getRuntimeConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';

const clientConfig = getRuntimeConfig().forClient;
---

<BaseLayout title='Revise'>
    <h1 class='title'>Revision Page</h1>

     Note: each sequence entry needs to have the associated accession as a metadata field. Furthermore, the sequence entry
    that should be revised needs to be already released. If the latter does not hold, delete the accession version or submit
    a review.

    <RevisionForm clientConfig={clientConfig} client:only='react' />
</BaseLayout>
