---
import { RevisionForm } from '../../components/Revision/RevisionForm';
import { getRuntimeConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';

const runtimeConfig = getRuntimeConfig();
---

<BaseLayout title='Revise'>
    <h1 class='title'>Revision Page</h1>

     Note: each sequence needs to have the associated sequence id as a metadata field. If it is not possible to identify
    the sequence that should be revised, it will be ignored. Furthermore, the sequence that should be revised needs to be
    already released. If the latter does not hold, the sequence can be easily deleted and re-submitted

    <RevisionForm runtimeConfig={runtimeConfig} client:only='react' />
</BaseLayout>
