---
import { getRuntimeConfig, getWebsiteConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
const clientConfig = getRuntimeConfig().public;

const websiteConfig = getWebsiteConfig();

const organismKeys = Object.keys(websiteConfig.organisms);

const organismToDisplayName = Object.fromEntries(
    organismKeys.map((organism) => {
        return [organism, websiteConfig.organisms[organism].schema.organismName];
    }),
);

const BUTTON_CLASS =
    'inline-block px-6 py-3 bg-primary-400 text-white font-semibold rounded-lg shadow-md hover:bg-primary-500  mr-2 hover:no-underline';
---

<BaseLayout title='API Documentation'>
    <div class='container mx-auto p-8'>
        <h1 class='title'>API Documentation</h1>

        <div>
            We offer a [Swagger UI](https://swagger.io/tools/swagger-ui/) for documentation and direct interaction with our APIs. For more tips on how to use our API please read our[API documentation](docs/how-to/api-documentation)
            Please note that Swagger incorrectly displays NDJSON examples in JSON format. For endpoints that require NJSON input you must convert the JSON examples to NDJSON (e.g. by removing new lines) prior to testing. 
        </div>

        <div class='mb-8 mt-6'>
            <h2 class='text-xl font-semibold text-primary-400 mb-4'>Backend Server</h2>
            <div>Please note that Loculus is under continuous development and the endpoints are subject to change. </div>
            <div>By using our endpoint you agree to our [Data Use Terms](governance/data-use-terms) </div>
            <a class={BUTTON_CLASS} href={clientConfig.backendUrl + '/swagger-ui/index.html'}>
                View Backend API Documentation
            </a>
        </div>

        <div>
            <h2 class='text-xl font-semibold text-primary-400 mb-4'>LAPIS Query Engines</h2>
            <div class='space-y-4'>
                {
                    Object.entries(clientConfig.lapisUrls).map(([organism, url]) => (
                        <a class={BUTTON_CLASS} href={url + '/swagger-ui/index.html'}>
                            {organismToDisplayName[organism]} LAPIS API Documentation
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</BaseLayout>
