---
import { getRuntimeConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';

const clientConfig = getRuntimeConfig().forClient;
---

<BaseLayout title='Api Docs'>
    <h1 class='title'>Api Documentation</h1>
    <a class='mt-8' href={clientConfig.backendUrl + '/swagger-ui/index.html'}>
        Click here for the API documentation of the backend server.
    </a>
    <br />
    <a href={clientConfig.lapisUrl + '/swagger-ui/index.html'}>
        Click here for the API documentation of the query engine LAPIS.
    </a>
</BaseLayout>
