name: backend-tests
on:
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/backend-tests.yml"
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-backend-tests
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      CROSSREF_USERNAME: ${{ secrets.CROSSREF_USERNAME }}
      CROSSREF_PASSWORD: ${{ secrets.CROSSREF_PASSWORD }}
      CROSSREF_ENDPOINT: ${{ secrets.CROSSREF_ENDPOINT }}
      CROSSREF_DOI_PREFIX: ${{ secrets.CROSSREF_DOI_PREFIX }}
      RUN_EXTRA_TESTS: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'true' || 'false' }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN_READ_PUBLIC }}
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "adopt"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-disabled: true
      - name: Run tests
        run: ./gradlew test
        working-directory: ./backend

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "adopt"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Check Format And Lint
        run: ./gradlew ktlintCheck
        working-directory: ./backend
