name: backend-image
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      build_arm:
        type: boolean
        description: "Build for ARM as well"
        default: false
        required: false
  workflow_call:
    inputs:
      build_arm:
        type: string
        description: "Build for ARM as well"
        default: "false"
        required: true
env:
  DOCKER_IMAGE_NAME: ghcr.io/loculus-project/backend
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  BUILD_ARM: ${{ github.event.inputs.build_arm || inputs.build_arm || github.ref == 'refs/heads/main' }}
  sha: ${{ github.event.pull_request.head.sha || github.sha }}
concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-backend
  cancel-in-progress: true
jobs:
  backend-image:
    name: Build Backend Docker Image # Don't change: Referenced by .github/workflows/update-argocd-metadata.yml
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      DOCKER_IMAGE_NAME: ghcr.io/loculus-project/backend
    permissions:
      packages: write
      contents: read
      checks: read
    steps:
      - name: Shorten sha
        run: echo "sha=${sha::7}" >> $GITHUB_ENV
      - uses: actions/checkout@v5
      - name: Add filename hash to environment
        run: |
          # This needs to be a separate step because hashFiles is done before the run steps
          find backend -type f -print | sort | sha256sum > backend/filename_hash
          cat backend/filename_hash
      - name: Generate files hash
        id: files-hash
        run: |
          DIR_HASH=$(echo -n ${{ hashFiles('backend/**', '.github/workflows/backend-image.yml') }})
          echo "DIR_HASH=$DIR_HASH${{ env.BUILD_ARM == 'true' && '-arm' || '' }}" >> $GITHUB_ENV
          rm backend/filename_hash
      - name: Setup Docker metadata
        id: dockerMetadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.DIR_HASH }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=commit-${{ env.sha }}
            type=raw,value=${{ env.BRANCH_NAME }}
            type=raw,value=${{ env.BRANCH_NAME }}-arm,enable=${{ env.BUILD_ARM }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check if image exists
        id: check-image
        run: |
          EXISTS=$(docker manifest inspect ${{ env.DOCKER_IMAGE_NAME }}:${{ env.DIR_HASH }} > /dev/null 2>&1 && echo "true" || echo "false")
          echo "CACHE_HIT=$EXISTS" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up JDK
        if: env.CACHE_HIT == 'false'
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "adopt"
      - name: Setup Gradle
        if: env.CACHE_HIT == 'false'
        uses: gradle/actions/setup-gradle@v5
      - name: Build Backend
        if: env.CACHE_HIT == 'false'
        working-directory: ./backend
        run: ./gradlew bootJar
      - name: Build and push image if input files changed
        if: env.CACHE_HIT == 'false'
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ${{ steps.dockerMetadata.outputs.tags }}
          cache-from: type=gha,scope=backend-${{ github.ref }}
          cache-to: type=gha,mode=max,scope=backend-${{ github.ref }}
          platforms: ${{ env.BUILD_ARM == 'true' && 'linux/amd64,linux/arm64' || 'linux/amd64' }}
      - name: Retag and push existing image if cache hit
        if: env.CACHE_HIT == 'true'
        run: |
          TAGS=(${{ steps.dockerMetadata.outputs.tags }})
          for TAG in "${TAGS[@]}"; do
            docker buildx imagetools create --tag $TAG ${{ env.DOCKER_IMAGE_NAME }}:${{ env.DIR_HASH }}
          done
