name: config-processor-build

on:
  push:
  workflow_dispatch:
    inputs:
      build_arm:
        type: boolean
        description: "Build for ARM as well"
        default: false
        required: false
  workflow_call:
    inputs:
      build_arm:
        type: boolean
        description: "Build for ARM as well"
        default: false
        required: false

env:
  DOCKER_IMAGE_NAME: ghcr.io/loculus-project/config-processor
  BUILD_ARM: ${{ github.ref == 'refs/heads/main' || github.event.inputs.build_arm }}

defaults:
  run:
    working-directory: ./kubernetes/config-processor

concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-config-processor-${{github.event.inputs.build_arm}}
  cancel-in-progress: true

jobs:
  dockerImage:
    name: Build config-processor Docker Image # Don't change: Referenced by .github/workflows/update-argocd-metadata.yml
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      packages: write
      checks: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker metadata
        id: dockerMetadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=sha,prefix=commit-
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./kubernetes/config-processor
          push: true
          tags: ${{ steps.dockerMetadata.outputs.tags }}
          cache-from: type=gha,scope=config-preprocessor-${{ github.ref }}
          cache-to: type=gha,mode=max,scope=config-preprocessor-${{ github.ref }}
          platforms: ${{ env.BUILD_ARM && 'linux/amd64,linux/arm64' || 'linux/amd64' }}
