name: Builds and deploy documentation
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ./docs/.nvmrc

      - name: Navigate to docs directory
        run: cd docs

      - name: Copy Kubernetes schema to docs
        run: npm run copy-schema
        working-directory: ./docs

      - name: Install Dependencies
        run: npm install
        working-directory: ./docs

      - name: Build Project
        run: npm run build
        working-directory: ./docs

      - name: Add CNAME for Custom Domain
        run: echo "loculus.org" > ./docs/dist/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/dist # Adjust if your build output directory is different
