name: Builds and deploy documentation
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: db-build
          create-args: >
            -c conda-forge python=3.14.3 pandas s3cmd
          cache-environment: true

      - name: Install NCBI taxonomy package
        shell: bash -l {0}
        run: |
          pip install -e ./ncbi_tax_download

      - name: Create taxonomy DB
        shell: bash -l {0}
        run: |
          taxonomy-download --output_db ncbi_taxonomy.sqlite
          ls -lh ncbi_taxonomy.sqlite

      - name: Create S3cmd config
        run: |
          cat <<EOF > ~/.s3cfg
          [default]
          access_key = ${{ secrets.HETZNER_S3_ACCESS_KEY }}
          secret_key = ${{ secrets.HETZNER_S3_SECRET_KEY }}
          host_base = hel1.your-objectstorage.com
          host_bucket = %(bucket)s.hel1.your-objectstorage.com
          verbosity = DEBUG
          EOF

      - name: Compress and upload taxonomy DB
        shell: bash -l {0}
        run: |
          gzip -9 ncbi_taxonomy.sqlite
          s3cmd put --multipart-chunk-size-mb=100 \
            ncbi_taxonomy.sqlite.gz \
            s3://loculus-public/taxonomy/ncbi_taxonomy.sqlite.gz
