name: ena-submission-workflow-tests
on:
  pull_request:
    paths:
      - "ena-submission/**"
      - ".github/workflows/ena-submission-workflow-tests.yml"
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  Tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      ENA_USERNAME: ${{ secrets.ENA_SUBMISSION_USER }}
      ENA_PASSWORD: ${{ secrets.ENA_SUBMISSION_PASSWORD }}
    services:
      postgres:
        image: ghcr.io/cloudnative-pg/postgresql@sha256:8e08e8d876545a0ce1cd5aa3c13923181f1d51d419cb618bc52832f4c89fda06
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: unsecure
          POSTGRES_DB: loculus
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v6
      - name: Extract Flyway version
        id: flyway_version
        run: |
          FLYWAY_VERSION=$(grep "^FROM flyway/flyway:" ./ena-submission/flyway/Dockerfile \
            | sed -E 's/^FROM flyway\/flyway:([0-9]+\.[0-9]+\.[0-9]+).*/\1/')
          echo "version=$FLYWAY_VERSION" >> $GITHUB_OUTPUT
      - name: Install Flyway
        run: |
          FLYWAY_VERSION=${{ steps.flyway_version.outputs.version }}
          curl -L -o flyway.tar.gz \
            https://github.com/flyway/flyway/releases/download/flyway-$FLYWAY_VERSION/flyway-commandline-$FLYWAY_VERSION-linux-x64.tar.gz
          tar -xzf flyway.tar.gz
          sudo mv flyway-$FLYWAY_VERSION /opt/flyway
          echo "/opt/flyway" >> $GITHUB_PATH
      - name: Run Flyway
        run: | 
          flyway -url=jdbc:postgresql://localhost:5432/loculus \
            -schemas=ena_deposition_schema \
            -user=postgres \
            -password=unsecure \
            -locations=filesystem:./ena-submission/flyway/sql \
            migrate
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with: 
            environment-file: ena-submission/environment.yml
            micromamba-version: 'latest'
            cache-environment: true
      - name: Install package
        run: |
            uv pip install --system .
        shell: micromamba-shell {0}
        working-directory: ena-submission
      - name: Run tests
        run: |
            # The unit tests are run in ena-submission-unit-tests.yaml
            pytest \
              --ignore=./scripts/test_ena_submission.py
        shell: micromamba-shell {0}
        working-directory: ena-submission
