name: ena-submission-unit-tests
on:
  # test
  pull_request:
    paths:
      - "ena-submission/**"
      - ".github/workflows/ena-submission-unit-tests.yaml"
      - "ruff.toml"
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-ena-submission-unit-tests
  cancel-in-progress: true
jobs:
  checkFormat:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: "ena-submission/environment.yml"
          micromamba-version: "latest"
          cache-environment: true
      - name: Run ruff format check
        run: ruff check . --fix --diff
        shell: micromamba-shell {0}
        working-directory: ena-submission
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: "ena-submission/environment.yml"
          micromamba-version: "latest"
          cache-environment: true
      - name: Run ruff check
        run: ruff check .
        shell: micromamba-shell {0}
        working-directory: ena-submission
  unitTests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v5
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: "ena-submission/environment.yml"
          micromamba-version: "latest"
          cache-environment: true
      - name: Run tests
        run: |
          pip install .
          # The integration tests are run in a separate workflow
          # They require postgres to be running
            pytest \
            --ignore=./scripts/test_ena_submission_integration.py \
            --ignore=./scripts/test_api.py
        shell: micromamba-shell {0}
        working-directory: ena-submission
