name: Format Backend Code
on:
  workflow_dispatch:
  pull_request:
    types: [synchronize, labeled]
    paths:
      - "backend/**"
jobs:
  format:
    if: github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'format_me'))
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "adopt"
      
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      
      - name: Format Backend Code
        run: ./gradlew ktlintFormat
        working-directory: ./backend
      
      - name: Commit and Push Changes
        run: |
          git config --global user.name 'Loculus bot'
          git config --global user.email 'bot@loculus.org'
          git add -A
          git commit -m "Automated backend code formatting" || echo "No changes to commit"
          git push origin HEAD:${{ github.head_ref }}
