name: ingest-tests
on:
  # test
  pull_request:
    paths:
      - "ingest/**"
      - ".github/workflows/ingest-tests.yml"
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-ingest-tests
  cancel-in-progress: true
jobs:
  unitTests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ingest/environment.yml
          micromamba-version: 'latest'
          cache-environment: true
      - name: Run tests
        run: |
          pytest tests/
        shell: micromamba-shell {0}
        working-directory: ingest
  check-format:
    name: Check formatting
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ingest/environment.yml
          micromamba-version: 'latest'
          cache-environment: true
      - name: Run tests
        run: |
          snakefmt --compact-diff --check .
        shell: micromamba-shell {0}
        working-directory: ingest
