# Testing keycloakify local development builds, e.g. for approving dependabot upgrades
name: keycloakify-test
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "keycloak/keycloakify/**"
      - ".github/workflows/keycloakify-test.yml"
  push:
    branches:
      - main
concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-keycloak-test
  cancel-in-progress: true
jobs:
  keycloakify-test:
    name: Test keycloakify local builds
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: keycloak/keycloakify
    steps:
      - uses: actions/checkout@v5
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version-file: keycloak/keycloakify/.nvmrc
      - run: |
          corepack enable &&
          corepack install # use the in-repo yarn version
      - name: Setup Yarn in Node
        uses: actions/setup-node@v6
        with:
          node-version-file: keycloak/keycloakify/.nvmrc
          cache-dependency-path: keycloak/keycloakify/yarn.lock
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build
      - name: Build keycloak theme
        run: yarn build-keycloak-theme
