name: Dev server test

on:
  push:
    paths:
      - "website/**"
      - "deploy.py"
      - generate_local_test_config.sh
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-dev-server
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        exclude:
          - os: ${{ github.ref != 'refs/heads/main' && 'macos-latest' }}

    steps:
      - uses: azure/setup-helm@v3
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install yaml package
        run: pip install PyYAML requests

      - name: Generate local test config
        run: ./generate_local_test_config.sh

      - name: Install dependencies
        working-directory: website
        run: |
          npm install
          npm install playwright --save-dev

      - name: Test dev node server
        working-directory: website
        run: |
          npm run start &
          npx playwright install chromium


          npx playwright screenshot localhost:3000 test.png
          sleep 5
          npx playwright screenshot localhost:3000 test.png
