name: Update argocd_metadata
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ci-update-argocd-metadata
jobs:
  update:
    permissions:
      packages: read
      contents: read
      checks: read
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - name: Checkout Main Repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
      - name: Get SHA - length 7
        id: get_sha
        run: |
          echo "sha=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_OUTPUT
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Wait for Prepro Dummy Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Preprocessing dummy docker image build
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for Config Processor Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Build config-processor Docker Image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for SILO Import Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Build loculus-silo Docker Image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for Backend Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Build Backend Docker Image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for Prepro Nextclade Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Build preprocessing-nextclade Docker Image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for Ingest Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Build ingest Docker Image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for Keycloakify Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Build keycloakify Docker Image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for ENA Submission Docker Image
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          check-name: Build ena-submission Docker Image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 2
      - name: Wait for Website Docker Image
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 15
          max_attempts: 200
          retry_wait_seconds: 5
          command: docker manifest inspect ghcr.io/loculus-project/website:commit-${{ steps.get_sha.outputs.sha }}
      # End of wait block
      - name: Checkout External Repository
        uses: actions/checkout@v6
        with:
          repository: "loculus-project/argocd_metadata"
          token: ${{ secrets.ARGOCD_METADATA_PAT }}
      - name: Modify config.json
        run: |
          echo '{
            "branch" : "main",
            "number" : 999,
            "head_short_sha_7": "${{ steps.get_sha.outputs.sha }}"
          }' > config.json
      - name: Commit and Push Changes
        run: |
          git config --global user.name 'Loculus bot'
          git config --global user.email 'bot@loculus.org'
          git add config.json
          git commit -m "Update config.json"
          git push --force
