name: website-image
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      build_arm:
        type: boolean
        description: "Build for ARM as well"
        default: false
        required: false
  workflow_call:
    inputs:
      build_arm:
        type: boolean
        description: "Build for ARM as well"
        default: false
        required: false
env:
  DOCKER_IMAGE_NAME: ghcr.io/loculus-project/website
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  BUILD_ARM: ${{ github.event.inputs.build_arm || inputs.build_arm || github.ref == 'refs/heads/main' }}
  sha: ${{ github.event.pull_request.head.sha || github.sha }}
concurrency:
  group: ci-${{ github.ref == 'refs/heads/main' && github.run_id || github.ref }}-website-${{github.event.inputs.build_arm}}
  cancel-in-progress: true
jobs:
  website-docker:
    name: Build Website Docker Image # Don't change: Referenced by .github/workflows/update-argocd-metadata.yml
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      packages: write
      checks: read
    steps:
      - name: Shorten sha
        run: echo "sha=${sha::7}" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Generate files hash
        id: files-hash
        run: |
          DIR_HASH=$(echo -n ${{ hashFiles('website/**', '.github/workflows/website-image.yml') }})
          echo "DIR_HASH=$DIR_HASH${{ env.BUILD_ARM == 'true' && '-arm' || '' }}" >> $GITHUB_ENV
      - name: Setup Docker metadata
        id: dockerMetadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.DIR_HASH }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=${{ env.BRANCH_NAME }}
            type=raw,value=commit-${{ env.sha }}
            type=raw,value=${{ env.BRANCH_NAME }}-arm,enable=${{ env.BUILD_ARM }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check if image exists
        id: check-image
        run: |
          EXISTS=$(docker manifest inspect ${{ env.DOCKER_IMAGE_NAME }}:${{ env.DIR_HASH }} > /dev/null 2>&1 && echo "true" || echo "false")
          echo "CACHE_HIT=$EXISTS" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Get node version build arg
        if: env.CACHE_HIT == 'false'
        run: |
          NODE_VERSION=$(cat website/.nvmrc | tr -cd [:digit:].)
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_ENV
      - name: Build and push image
        if: env.CACHE_HIT == 'false'
        uses: docker/build-push-action@v5
        with:
          context: ./website
          push: true
          tags: ${{ steps.dockerMetadata.outputs.tags }}
          cache-from: type=gha,scope=website-${{ github.ref }}
          cache-to: type=gha,mode=max,scope=website-${{ github.ref }}
          platforms: ${{ env.BUILD_ARM == 'true' && 'linux/amd64,linux/arm64' || 'linux/amd64' }}
          build-args: NODE_VERSION=${{ env.NODE_VERSION }}
      - name: Retag and push existing image if cache hit
        if: env.CACHE_HIT == 'true'
        run: |
          TAGS=(${{ steps.dockerMetadata.outputs.tags }})
          for TAG in "${TAGS[@]}"; do
            docker buildx imagetools create --tag $TAG ${{ env.DOCKER_IMAGE_NAME }}:${{ env.DIR_HASH }}
          done
